<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Create New Garden</title>
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="~{navbar :: navbarOnCreateGarden}"></div>
<div>
    <div>
        <form action="#" th:action="@{/gardens/create}" th:object="${garden}" method="post">
            <!-- Garden Name Field -->
            <div>
                <label for="name"> Garden Name: </label>
                <input type="text" class="form-control" id="name" placeholder="Garden Name"
                       th:name="name" th:value="${garden.name}" data-cy="name" autofocus>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></div>

            </div>
            <!-- Garden Location Field -->
            <div>
                <label for="location"> Garden Location: </label>
                <input type="text" class="form-control" id="location" placeholder="Location"
                       th:name="location" th:value="${garden.location}" data-cy="location">
                <div th:if="${#fields.hasErrors('location')}" th:errors="*{location}" style="color: red;"></div>
            </div>
            <!-- Garden Size Field -->
            <label for="size"> Garden Size (m^2) (Optional): </label>
            <input type="text" class="form-control" id="size" placeholder="Size of Garden"
                   th:name="size" th:value="${garden.size}" data-cy="size">
            <div th:if="${#fields.hasErrors('size')}" th:errors="*{size}" style="color: red;"></div>
            <br/>
            <!-- Garden Description -->
            <label for="size"> Garden Description: </label>
            <input type="text" class="form-control" id="description" placeholder="Description"
                   th:name="size" th:value="${garden.description}" data-cy="size" autofocus>
            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red;"></div>
            <br/>
            <button type="submit">Submit!</button><button type="button" onclick="history.back()">Cancel</button>
        </form>
    </div>
</div>
</body>
<script th:src="@{/js/nextFormBox.js}"></script>
</html>
