<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
        <title>Edit Garden</title>
        <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
    </head>
    <body>
        <nav th:replace="~{fragments/navbar :: navbar}"></nav>
        <main class="main-container" style="max-width: 1000px">
            <div class="card p-5">
                <h2 class="mb-3">Edit Garden</h2>
                <div th:replace="~{fragments/garden-form :: garden-form(action='/gardens/' + ${id} + '/edit')}"></div>
            </div>
        </main>
        <th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
    </body>
</html>