<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Garden Timeline</title>
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>

    <meta name="_gardenId" th:content="${garden.id}" />
</head>
<body class="vh-100 overflow-x-hidden vw-100">
<div th:replace="~{fragments/navbar :: navbar}"></div>
<main class="row mx-0">
    <div class="col-lg-4 px-5 justify-content-center d-flex full-height-lg" id="gardenTLInfoBorder">
        <div class="py-5" id="gardenTLInfoDiv">
            <div class="pb-3 d-flex justify-content-start">
                <a class="btn btn-outline-primary" type="button" th:href="@{/gardens/{id}(id=${garden.id})}"><img th:src="@{/icons/back.svg}" alt="" width="20" height="20" /></a>
            </div>
            <div class="d-flex" style="width: 300px">
                <div>
                    <h1 class="fw-bold text-break" th:text="${garden.name}">Garden Name</h1>
                </div>
                <div class="d-flex align-items-center justify-content-left ps-3">
                    <a class="ms-auto justify-content-end"  th:if="${currentUser.id == garden.owner.id}" th:href="@{/gardens/{gardenId}/edit(gardenId=${garden.id})}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25" height="25" color="currentColor" fill="none">
                            <path d="M16.2141 4.98239L17.6158 3.58063C18.39 2.80646 19.6452 2.80646 20.4194 3.58063C21.1935 4.3548 21.1935 5.60998 20.4194 6.38415L19.0176 7.78591M16.2141 4.98239L10.9802 10.2163C9.93493 11.2616 9.41226 11.7842 9.05637 12.4211C8.70047 13.058 8.3424 14.5619 8 16C9.43809 15.6576 10.942 15.2995 11.5789 14.9436C12.2158 14.5877 12.7384 14.0651 13.7837 13.0198L19.0176 7.78591M16.2141 4.98239L19.0176 7.78591" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M21 12C21 16.2426 21 18.364 19.682 19.682C18.364 21 16.2426 21 12 21C7.75736 21 5.63604 21 4.31802 19.682C3 18.364 3 16.2426 3 12C3 7.75736 3 5.63604 4.31802 4.31802C5.63604 3 7.75736 3 12 3" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                        </svg>
                    </a>
                </div>
            </div>
                <div class="pt-3">
                    <p class="fw-bold mb-1" id="gardenTLDescHeader">
                        Description:
                    </p>
                    <div>
                        <p class="m-0" id="gardenTLDesc" th:text="${garden.description}">Garden Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 pb-5 px-5 overflow-y-auto overflow-x-hidden max-full-height-lg" id="gardenTimelineDiv">
        <div class="d-flex justify-content-center align-items-center mb-1 sticky-top p-5" id="gardenTimelineTitle">
            <h1 class="flex-grow-1 text-center m-0">Garden Timeline</h1>
        </div>

        <section class="py-3 px-3">
            <ul class="timeline-with-icons">
                <div th:each="entry : ${history.entrySet()}">
                    <li th:each="item : ${entry.value}" class="timeline-item mb-5">
                        <span class="timeline-icon">
                            <img th:if="${item.action.toString() == 'PLANTED'}" class="mx-1"
                                th:src="@{/icons/first-planted.svg}" alt="" width="25" height="25" />
                            <img th:if="${item.action.toString() == 'HARVESTED'}" class="mx-1" th:src="@{/icons/harvest.svg}"
                                alt="" width="25" height="25" />
                        </span>
        
                        <p class="fw-bold" id="plantHistoryEach" th:text="${item.plant.name + ' ' + item.action.toString().toLowerCase()}"></p>
                        <p class="text-muted mb-2 fw-bold" th:text="${dateFormatter.format(entry.key, HISTORY_FORMAT_DATE)}">
                        </p>
                    </li>
                </div>
            </ul>
        </section>
    </div>
</main>
<th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
</body>
</html>