<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Public Gardens</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap and general CSS imports from your fragment -->
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
    <meta name="_tags" th:content="${tagString}" />
</head>
<body>
<!-- Navbar from your fragment -->
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="px-5 mt-5">
    <div class="px-4">
        <h1>Public Gardens</h1>
    </div>
    <div class="my-3 px-4">
        <form class="input-group w-100" action="#" th:action="@{/gardens/public/search}" method="get" id="searchForm">
            <input type="text" class="form-control" placeholder="Search Public Gardens" id="searchField"
                   aria-label="Search Public Gardens" aria-describedby="button-addon" name="search" th:value="${previousSearch}">
            <input type="hidden" name="tags" id="tagsInput" th:value="${tagString}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon">
                    <img th:src="@{/icons/search-icon.svg}" alt="" width="20" height="25" />
                </button>
            </div>
        </form>

        <div class="mt-3">
            <div th:if="${error}">
                <p style="color: red;" th:text="${error}"></p>
            </div>
            <div class="input-group mb-3">
                <div class="col-xl-6 col-12 mt-4">
                    <div class="col-md-12">
                        <div class="mb-3" id="tag-autocomplete-container"></div>
                        <span id="gardenTagsError" class="error gardenTagsError" style="color:red"></span>
                    </div>
                    <div class="col-md-12 mb-4" id="tag-container"></div>
                    <script th:src="@{/js/autocomplete.js}"></script>
                    <script th:src="@{/js/tagAutocomplete.js}"></script>
                    <script th:src="@{/js/publicGardensTagAutocomplete.js}"></script>
                </div>
            </div>
        <div class= "mt-3" id="tagsContainer"></div>
    </div>

    <div th:if="${gardenPage.empty}" class="px-4">
        No gardens match your search...
        <a th:href="@{/gardens/public}" role="button">
            Reset search
        </a>
    </div>
    <div th:unless="${gardenPage.empty}" class="px-4">
        <p class="text-secondary">
            Showing results <span th:text="${gardenPage.number * gardenPage.size + 1}"></span>
            to <span th:text="${gardenPage.number * gardenPage.size + gardenPage.numberOfElements}"></span>
            of <span th:text="${gardenPage.totalElements}"></span>
        </p>
    </div>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
        <th:block th:each="garden : ${gardenPage.content}">
            <div class="pb-5 px-5">
                <a th:href="@{/gardens/{id}(id=${garden.id})}" class="text-decoration-none text-dark">
                    <div class="card h-100 card-hover">
                        <!-- Plant images grid -->
                        <div class="card-img-top bg-success card-img-top-fixed d-flex align-items-center justify-content-center">
                            <div class="row g-0 img-row">
                                <div class="col-12">
                                    <div class="plant-img" title="Default Garden Image" th:style="|background-image: url('@{/gardens/{id}/garden-image(id=${garden.id})}')|"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h5 class="card-title" th:text="${garden.name}"></h5>
                            <p class="card-text" th:text="'Created by: ' + ${garden.owner.fname} + (${garden.owner.lname} != null ? ' ' + ${garden.owner.lname} : '')"></p>
                        </div>
                    </div>
                </a>
            </div>

        </th:block>
    </div>


        <!-- Pagination Controls -->
    <nav>
        <ul class="pagination justify-content-center">
            <!-- First page link -->
            <li class="page-item" th:classappend="${gardenPage.isFirst() ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/gardens/public(page=0, size=${gardenPage.size})}">
                    <img th:src="@{/icons/first-page-icon.svg}" alt="" width="20" height="25" />
                </a>
            </li>

            <!-- Previous page link -->
            <li class="page-item" th:classappend="${gardenPage.hasPrevious() ? '' : 'disabled'}">
                <a class="page-link" th:href="@{/gardens/public(page=${gardenPage.number - 1}, size=${gardenPage.size})}">
                    <img th:src="@{/icons/prev-icon.svg}" alt="" width="20" height="25" />
                </a>
            </li>

            <!-- Dynamic page links -->
            <li th:each="i : ${#numbers.sequence(gardenPage.number - 2, gardenPage.number + 2)}"
                th:if="${i >= 0 and i < gardenPage.totalPages}" class="page-item"
                th:classappend="${i == gardenPage.number ? 'active' : ''}">
                <a class="page-link" th:href="@{/gardens/public(page=${i}, size=${gardenPage.size})}" th:text="${i + 1}" style="font-size:18px"></a>
            </li>

            <!-- Next page link -->
            <li class="page-item" th:classappend="${gardenPage.hasNext() ? '' : 'disabled'}">
                <a class="page-link" th:href="@{/gardens/public(page=${gardenPage.number + 1}, size=${gardenPage.size})}">
                    <img th:src="@{/icons/next-icon.svg}" alt="" width="20" height="25" />
                </a>
            </li>

            <!-- Last page link -->
            <li class="page-item" th:classappend="${gardenPage.isLast() ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/gardens/public(page=${gardenPage.totalPages - 1}, size=${gardenPage.size})}">
                    <img th:src="@{/icons/last-page-icon.svg}" alt="" width="20" height="25" />
                </a>
            </li>
        </ul>
    </nav>

</div>

<!-- Bootstrap scripts from your fragment -->
<th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var searchInput = document.getElementById('searchField');

            searchInput.addEventListener('keyup', function(event) {
                if (event.key === 'Enter') {
                    document.getElementById('searchForm').submit();
                }
            });
        });
    </script>

</body>
</html>
