<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
    <head>
        <title>My Gardens</title>

        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    </head>
    <body>
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div>
            <div>
                <h3>Your Gardens:</h3>
                <table id="gardens-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Size</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${gardens.empty}">
                        <td colspan="3"> Please add a garden first</td>
                    </tr>
                    <tr th:each="garden : ${gardens}">
                        <td><a th:href="@{'/gardens/' + ${garden.id}}"><span th:text="${garden.name}"> Name </span></a></td>
                        <td><span th:text="${garden.location}"> Location </span></td>
                        <td><span th:text="${garden.size}"> Size </span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    </body>
</html>