<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>My Gardens</title>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div>
    <div class="p-3">
        <h1 class="p-2">My Gardens</h1>
        <div th:replace="~{fragments/list-of-gardens.html :: list-of-gardens}"></div>
    </div>
</div>
<th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
</body>
</html>
