<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Add a New Plant</title>
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div>
    <div>
        <form id="addPlantForm" th:action="@{/gardens/{gardenId}/add-plant(gardenId=${gardenId})}" th:object="${plant}"  method="post" >


        <!-- Plant Name Field -->
            <label for="name">Plant Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter Plant Name" th:value="${plant.name}" >
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></div>
            <br/>
            <br/>
            <!-- Plant Description Field -->
            <label for="description">Description:</label>
            <textarea id="description" name="description" placeholder="Enter description" th:text="${plant.description}" maxlength="512"></textarea>
            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red;"></div>
            <br/>
            <br/>
            <!-- Plant Count Field -->
            <label for="count">Count:</label>
            <input type="number" id="count" name="count" placeholder="Enter Count" th:value="${plant.count}" >
            <div th:if="${#fields.hasErrors('count')}" th:errors="*{count}" style="color: red;"></div>
            <br/>
            <br/>
            <!-- Planting Date Field -->
            <label for="plantedDate">Planting Date:</label>
            <input type="date" id="plantedDate" name="plantedDate" placeholder="DD/MM/YYYY" th:value="${plant.plantedDate}" >
            <div th:if="${#fields.hasErrors('plantedDate')}" th:errors="*{plantedDate}" style="color: red;"></div>
            <br/>
            <br/>
            <div class="form-group">
                <input type="file" name="image" accept=".png, .jpg, .jpeg, .svg" class="form-control-file">
            </div>
            <div class="alert alert-danger" th:if="${error}">
                <div th:text="${error}" style="color: red"></div>
            </div>

            <div class="alert alert-danger" th:if="${fileSizeError}">
                <div th:text="${fileSizeError}" style="color: red"></div>
            </div>
            <div class="image-container">

                <img th:src="@{${plant.plantImagePath}}"/>
                <img th:unless="${plant.plantImagePath}" src="/default.png" alt="Default Plant Image" />


            </div>
            <button type="submit">Submit!</button>
            <button type="button"><a th:href="@{/gardens/{id}(id=${gardenId})}">Cancel</a></button>


        </form>
    </div>
    <div>
        <br />
        <button><a th:href="@{/gardens}">Back to Gardens</a></button>
        <button><a th:href="@{/}">Return home</a></button>
    </div>
</div>
</body>
<script th:src="@{/js/nextFormBox.js}"></script>
</html>
