<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Plant</title>
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script>
        document.addEventListener("DOMContentLoaded", function() {

            document.querySelectorAll('input, textarea').forEach(function(input, index, array) {
                input.addEventListener('keydown', function(event) {
                    if (event.key === "Enter") {
                        event.preventDefault();
                        if (index === array.length - 1) {
                            document.querySelector('form').submit();
                        } else {
                            array[index + 1].focus();
                        }
                    }
                });
            });
        });
    </script>
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div>
    <div>
        <form th:action="@{/gardens/{gardenId}/plants/{plantId}/edit(gardenId=${gardenId}, plantId=${plantId})}" th:object="${plant}" method="post">
            <label for="name"> Plant Name: </label>
            <input type="text" class="form-control" id="name" placeholder="Name"
                   th:name="name" th:value="${plant.name}" data-cy="name" autofocus>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></div>
            <br/>
            <label for="count"> Count: </label>
            <input type="number" class="form-control" id="count" th:placeholder="Count"
                   th:name="count" th:value="${plant.count}" data-cy="count" autofocus>
            <div th:if="${#fields.hasErrors('count')}" th:errors="*{count}" style="color: red;"></div>
            <br/>
            <label for="description"> Plant Description: </label>
            <input type="text" class="form-control" id="description" placeholder="Description"
                   th:name="description" th:value="${plant.description}" data-cy="size" autofocus>
            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red;"></div>
            <br/>
            <label for="date"> Date Planted: </label>
            <input type="date" class="form-control" id="date" placeholder="DD/MM/YYYY"
                   th:name="plantedDate" th:value="${#dates.format(plant.plantedDate, 'yyyy-MM-dd')}" data-cy="size" autofocus>
            <div th:if="${#fields.hasErrors('plantedDate')}" th:errors="*{plantedDate}" style="color: red;"></div>
            <br/>
            <div class="image-container">

                <img th:src="@{${plant.plantImagePath}}"/>
                <img th:unless="${plant.plantImagePath}" src="/default.png" alt="Default Plant Image" />
                <a class="add-image-button" th:href="@{/uploadImage(garden_Id=${gardenId}, plant_Id=${plantId})}">+</a>

            </div>
            <button type="submit">Submit!</button><button type="button"><a th:href="@{/gardens/{garden_id}(garden_id=${gardenId})}">Cancel</a></button>
        </form>
    </div>

    <div>
        <a th:href="@{/gardens}">View Gardens</a>
        <a th:href="@{/}">Back to home</a>
    </div>
</div>
</body>
</html>