<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Edit Plant</title>

    <!-- This needs to be here for Bootstrap and general CSS imports -->
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <main class="main-container">
        <div class="card p-5">
            <h2 class="mb-3">Search Plants</h2>
            <form class="input-group d-flex" action="#" th:action="@{/plantInformation}" method="get" id="searchForm">
<!--                <input type="text" class="form-control" placeholder="Search Plant repository" id="searchField"-->
<!--                       aria-label="Search Plant repository" aria-describedby="button-addon" name="search" th:value="${previousSearch}">-->
                <div class="flex-grow-1" id="plant-search-autocomplete-container"></div>
                <div class="input-group-append d-flex">
                    <button class="btn btn-outline-secondary d-flex align-items-center" type="submit" id="button-addon">
                        <img th:src="@{/icons/search-icon.svg}" alt="" width="20" height="25" />
                    </button>
                </div>
            </form>
            <script th:src="@{/js/autocomplete.js}"></script>
            <script th:src="@{/js/plantSearchAutocomplete.js}"></script>
        </div>
    </main>
    <th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
</body>
</html>