<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Plant Details</title>

    <!-- This needs to be here for Bootstrap and general CSS imports -->
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>
<body class="vh-100 overflow-x-hidden vw-100">
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<main class="row mx-0">
    <div class="col-lg-4 px-5 justify-content-center d-flex full-height-lg" style="background-color: var(--gg-side-panel)">
        <div class="text-center py-5">
            <div class="pb-3 d-flex justify-content-start">
                <a class="btn btn-outline-primary" type="button" th:href="@{/gardens/{id}(id=${gardenId})}"><img th:src="@{/icons/back.svg}" alt="" width="20" height="20" /></a>
            </div>
            <img th:src="@{'/plants/' + ${plant.id} + '/plant-image'}" alt="Plant Picture" class="w-100 rounded d-block" style="width: 300px; height: 300px;" />
            <div class="d-flex">
                <div class="overflow-hidden">
                    <h1 class="fw-bold text-truncate" th:text="${plant.name}">Plant Name</h1>
                </div>
                <div class="d-flex align-items-center justify-content-left ps-3">
                    <a class="ms-auto justify-content-end"  th:if="${currentUser.id == garden.owner.id}" th:href="@{/gardens/{gardenId}/plants/{plantId}/edit(gardenId=${garden.id}, plantId=${plant.id})}">
                        <img class="mx-1" th:src="@{/icons/edit.svg}" alt="" width="25" height="25" />
                    </a>
                </div>
            </div>
            <div class="text-start">
                <div class="d-flex mb-1">
                    <img th:src="@{/icons/calendar-03-stroke-rounded.svg}"
                         alt=""
                         width="20"
                         height="20" />
                    <p class="ms-1 my-0" th:text="${dateFormatter.format(plant.plantedDate, NZ_FORMAT_DATE)}">Planted Date</p>
                </div>
                <div class="d-flex">
                    <div class="d-flex">
                        <img th:src="@{/icons/natural-food-stroke-rounded.svg}"
                             alt=""
                             width="20"
                             height="20" />
                        <p class="mb-0"><span class="mx-1" th:text="${plant.count}">Plant Count</span> planted</p>
                    </div>
                </div>
<!--                TODO: I AM STILL FIXING THIS-->
<!--                <div class="dropdown d-flex justify-content-end" th:if="${currentUser.id == garden.owner.id}">-->
<!--                    <span th:if="${plant.status == T(nz.ac.canterbury.seng302.gardenersgrove.entity.BasePlant$PlantStatus).NOT_GROWING}" class="btn button-not-planted dropdown-toggle"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:id="${'dropdownMenuButtonSmall' + plant.id}">Not Growing</span>-->
<!--                    <span th:if="${plant.status == T(nz.ac.canterbury.seng302.gardenersgrove.entity.BasePlant$PlantStatus).CURRENTLY_GROWING}" class="btn button-growing dropdown-toggle"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:id="${'dropdownMenuButtonSmall' + plant.id}">Growing</span>-->
<!--                    <span th:if="${plant.status == T(nz.ac.canterbury.seng302.gardenersgrove.entity.BasePlant$PlantStatus).HARVESTED}" class="btn button-harvest dropdown-toggle"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:id="${'dropdownMenuButtonSmall' + plant.id}">Harvested</span>-->
<!--                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonSmall">-->
<!--                        <button type="button" class="dropdown-item" th:onclick="'updateStatus(' + ${plant.id} + ', \'NOT_GROWING\')'">-->
<!--                            <span class="badge not-planted-badge">Not Growing</span>-->
<!--                        </button>-->
<!--                        <button type="button" class="dropdown-item" th:onclick="'updateStatus(' + ${plant.id} + ', \'CURRENTLY_GROWING\')'">-->
<!--                            <span class="badge growing-badge">Growing</span>-->
<!--                        </button>-->
<!--                        <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#harvestedDateModal" th:attr="onclick='setPlantId(' + ${plant.id} + ')'">-->
<!--                            <span class="badge harvest-badge">Harvested</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="pt-3">
                    <p class="fw-bold mb-1">
                        Description:
                    </p>
                    <div>
                        <p class="m-0" th:text="${plant.description}"><!--Plant Description goes here--></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 pb-5 px-5 overflow-y-auto overflow-x-hidden" style="max-height: 100vh;">

        <div class="d-flex justify-content-center align-items-center mb-1 sticky-top mt-3 p-3">
            <hr />
            <h1 class="flex-grow-1 text-left text-lg-center m-0">Plant Timeline</h1>
            <span class="d-inline-block" tabindex="0" id="recordUpdateButtonTooltip">
                <a class="btn btn-primary ms-auto justify-content-end" id="recordUpdateButton"
                   th:classappend="${disabledRecordButton} ? 'disabled' : ''"
                   th:if="${currentUser.id == garden.owner.id}"
                   th:href="@{/gardens/{gardenId}/plants/{plantId}/history(gardenId=${garden.id}, plantId=${plant.id})}"
                >
                    <img th:src="@{/icons/add-square-white.svg}" alt="" width="20" height="20" /> Record Update
                </a>
            </span>
        </div>

        <section class="py-3 px-3">
          <ul class="timeline-with-icons">
<!--              Link up one of these cards with the backend and use thymeleaf to make as many as their are records.-->
            <li class="timeline-item mb-5" th:if="${showHarvestCard}">
              <span class="timeline-icon">
                <img class="mx-1" th:src="@{/icons/harvest.svg}" alt="" width="25" height="25" />
              </span>

              <p class="fw-bold">Harvested</p>
              <p class="text-muted mb-2 fw-bold" th:text="${dateFormatter.format(plant.harvestedDate, NZ_FORMAT_DATE)}"></p>
              <p class="text-muted">
                  You harvested your <span th:text="${plant.name}"></span>'s.
              </p>
            </li>

            <li th:each="history : ${plantHistory}" class="timeline-item mb-5">
              <span class="timeline-icon">
                <img class="mx-1" th:src="@{/icons/record.svg}" alt="" width="25" height="25" />
              </span>
              <p class="fw-bold">Update</p>
                <img class="pb-3" th:src="@{'/plants/' + ${plant.id} + '/history/' + ${history.id} + '/image'}" width="200" height="200" alt="plant"/>
                <p th:text="${dateFormatter.format(history.timestamp, NZ_FORMAT_DATE)}" class="text-muted mb-2 fw-bold">19 March 2020</p>
              <p th:text="${history.description}" class="text-muted">
                  My tomato bush grew 3cm!
              </p>
            </li>

            <li class="timeline-item mb-5">
              <span class="timeline-icon">
                <img class="mx-1" th:src="@{/icons/first-planted.svg}" alt="" width="25" height="25" />
              </span>
              <p class="fw-bold">First Planted!</p>
              <p th:text="${dateFormatter.format(plant.getPlantedDate, NZ_FORMAT_DATE)}" class="text-muted mb-2 fw-bold">24 June 2020</p>
              <p class="text-muted">
                  The day this plant was first planted.
              </p>
            </li>
          </ul>
        </section>
    </div>

<!--    TODO: I AM STILL FIXING THIS-->
<!--    &lt;!&ndash; Harvested Date Modal &ndash;&gt;-->
<!--    <div class="modal fade" id="harvestedDateModal" tabindex="-1" aria-labelledby="harvestedDateModalLabel" aria-hidden="true" th:if="${currentUser.id == garden.owner.id}">-->
<!--        <div class="modal-dialog modal-dialog-centered modal-sm">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h4 class="modal-title mx-2" id="harvestedDateModalLabel">Harvested Date</h4>-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                </div>-->
<!--                <div class="modal-body mx-2">-->
<!--                    <label>Date:-->
<!--                        <input type="date" id="harvestedDateInput">-->
<!--                    </label>-->
<!--                    <div id="errorContainer" class="text-danger mt-2"></div>-->
<!--                    <input type="hidden" id="currentPlantId">-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                    <button type="button" class="btn btn-primary" onclick="handleSaveHarvest()">Save date</button>-->
<!--                </div>-->
<!--            </div>-->



<!--        </div>-->
    </div>
</main>

<script>
   const handleSaveHarvest = async () => {
       saveHarvestedDate();
   }
</script>

<th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
<script th:src="@{/js/nextFormBox.js}"></script>
<script th:src="@{/js/plantImageErrorChecking.js}"></script>
<script th:src="@{/js/dateValidation.js}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const recordUpdateButton = document.getElementById('recordUpdateButton');
        const recordUpdateButtonTooltip = document.getElementById('recordUpdateButtonTooltip');

        if (recordUpdateButton.classList.contains('disabled')) {
            recordUpdateButtonTooltip.setAttribute('data-bs-toggle', 'tooltip');
            recordUpdateButtonTooltip.setAttribute('title', 'Cannot add update after harvesting or after a record is added today');

            const tooltip = new bootstrap.Tooltip(recordUpdateButtonTooltip);
            tooltip.show();
        } else {
            const tooltip = bootstrap.Tooltip.getInstance(recordUpdateButtonTooltip);
            if (tooltip) {
                tooltip.dispose();
            }
        }
    });
</script>
<script th:src="@{/js/plantStatus.js}"></script>
</body>
</html>