<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Plant Details</title>

    <!-- This needs to be here for Bootstrap and general CSS imports -->
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<!--                <p>Planted Date: <span th:text="${plant.plantedDate"></span></p>-->
<!--                <p>Plant Count: <span th:text="${plant.count"></span></p>-->
<!--                <p>Description: <span th:text="${plant.description"></span></p>-->
<!--                <div>-->
<!--                    <h2>Plant History: </h2>-->
<!--                    <p>... TBD</p>-->
<!--                </div>-->

<main class="row">
    <div class="col-md-4 px-5">
        <img th:src="@{'/plants/' + ${plant.id} + '/plant-image'}" alt="Plant Picture" class="w-100 rounded d-block" style="width: 300px; height: 300px;" />
        <h1 th:text="${plant.name}">Plant Name:</h1>
        <p>Planted Date: <span th:text="${plant.plantedDate}"></span></p>
        <p>Plant Count: <span th:text="${plant.count}"></span></p>
        <p>Harvested: </p>
        <p>Description: <span th:text="${plant.description}"></span></p>
    </div>
    <div class="col-md-8">
        <h1>Plant Timeline</h1>
<!--    Make multiple of these cards using the same format as the way plant cards work on the gardenDetail page. It is commented out below and needs adapting    -->
<!--        <div th:each="plant: ${plants}" class="card mb-3 d-lg-none" style="max-width: 540px;">-->
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
<!--                    This needs to be updated to the history image-->
                    <img th:src="@{'/plants/' + ${plant.id} + '/plant-image'}" alt="Plant Picture" class="w-100 rounded d-block" style="width: 50px; height: 50px;" />
                    <p>Date here temporarily</p>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">This is where the optional description will go.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>






<th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
</body>
<script th:src="@{/js/nextFormBox.js}"></script>
<script th:src="@{/js/plantImageErrorChecking.js}"></script>
<script th:src="@{/js/dateValidation.js}"></script>
</html>