<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Search Plants</title>

    <!-- This needs to be here for Bootstrap and general CSS imports -->
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <main class="main-container">
        <div class="card p-5">
            <h2 class="mb-3">Select a Garden</h2>
            <ul>
                <li th:each="garden : ${gardens}">
                    <a th:href="@{/gardens/{gardenId}/add-plant?importPlant=true(gardenId=${garden.id})}" th:text="${garden.name}"></a>
                </li>
            </ul>
        </div>
    </main>
    <th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
</body>
</html>