<!DOCTYPE html>
<html lang="en">
    <head th:fragment="headerfiles">
        <meta charset="UTF-8">
    </head>
    <body>
        <div th:fragment="description-box-with-char-count">
            <label for="description"
                   th:class="${#fields.hasErrors('description') ? 'is-invalid' : ''}"> Garden Description: </label>
            <div class="input-group">
                <input type="text"
                       th:class="'form-control ' + ${(#fields.hasErrors('description') || profanity != null) ? 'is-invalid' : ''}"
                       id="description"
                       placeholder="Description"
                       th:name="description"
                       th:value="${garden.description}"
                       data-cy="size"
                       maxlength="520"
                       autofocus>
                <span class = "numberOfCharactersText input-group-text justify-content-end" id = "numberOfCharactersText"></span>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('description')}"
                     th:errors="*{description}">
                </div>
                <div class="invalid-feedback"
                     th:if="${profanity != null}">
                    <span th:text="${profanity}"></span>
                </div>
            </div>
            <script>
                const numberOfCharactersText = document.getElementById("numberOfCharactersText");
                const descriptionTextBox = document.getElementById("description");
                numberOfCharactersText.innerText = descriptionTextBox.value.length + "/512";

                descriptionTextBox.addEventListener("input", () => {
                    numberOfCharactersText.innerText = descriptionTextBox.value.length + "/512";
                })
            </script>
        </div>

    </body>
</html>