<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="description-box-with-char-count">
        <label for="description"> Garden Description: </label>
        <input type="text" class="form-control" id="description" placeholder="Description"
               th:name="description" th:value="${garden.description}" data-cy="size" autofocus>
        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red;"></div>
        <p id = "numberOfCharactersText"></p>

        <script>
            const numberOfCharactersText = document.getElementById("numberOfCharactersText");
            const descriptionTextBox = document.getElementById("description");
            numberOfCharactersText.innerText = descriptionTextBox.value.length + "/512";

            descriptionTextBox.addEventListener("input", function () {
                console.log(descriptionTextBox.value.length);
                numberOfCharactersText.innerText = descriptionTextBox.value.length + "/512";
            })
        </script>
    </div>
</body>
</html>