<div th:fragment="emoji-picker">
  <div class="emoji-container">
    <span class="emoji-badge me-2" onclick="addEmoji(event)">&#128514;</span> <!--😂-->
    <span class="emoji-badge me-2" onclick="sendEmoji(event)">&#128546;</span> <!--😢-->
    <span class="emoji-badge me-2" onclick="sendEmoji(event)">&#128293;</span> <!--🔥-->
    <span class="emoji-badge me-2" onclick="sendEmoji(event)">&#128128;</span> <!--💀-->
    <span class="emoji-badge me-2" onclick="sendEmoji(event)">&#128029;</span> <!--🐝-->
  </div>
</div>
