<div th:fragment="garden-form">
    <form id="garden-form" action="#" th:action="@{${action}}" th:object="${garden}" method="post">
        <input type="hidden" name="submissionToken" th:value="${submissionToken}" />
        <div>
            <!-- Garden Name Field -->
            <div class="mb-3">
                <label for="name"
                       th:class="'required-field form-label' + ${#fields.hasErrors('name') ? 'is-invalid' : ''}">
                    Garden Name:
                </label>
                <input type="text"
                       th:class="'form-control ' + ${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                       id="name"
                       th:name="name"
                       th:value="${garden.name}"
                       data-cy="name">
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('name')}"
                     th:errors="*{name}">
                </div>
            </div>
            <!--             Garden Location Field-->
            <div class="mb-3">
                <label for="location-autocomplete-container" class="form-label">Search Address:</label>
                <div class="d-xl-flex">
                    <div class="col-xl-12 col-12">
                        <div class="autocomplete-container" id="location-autocomplete-container"></div>
                        <div class="invalid-feedback" th:if="locationError != null" th:text="${locationError}"></div>
                    </div>
                </div>
            </div>

            <div class="col">
                <!-- Street Number Field -->
                <div class="mb-3 row p-0">
                    <div class="mb-3">
                        <p>Note: Manual entry of address may result in location-based services not working.</p>
                    </div>
                    <div class="col-lg-3 col-12">
                        <label for="streetNumber"
                               th:class="'form-label' + ${#fields.hasErrors('streetNumber') ? 'is-invalid' : ''}">
                            Street Number:
                        </label>
                        <input type="text"
                               th:class="'form-control ' + ${#fields.hasErrors('streetNumber') ? 'is-invalid' : ''}"
                               id="streetNumber"
                               th:name="streetNumber"
                               th:value="${garden.streetNumber}"
                               data-cy="streetNumber">
                        <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('streetNumber')}"
                             th:errors="*{streetNumber}">
                        </div>
                    </div>
                    <!-- Street Name Field -->
                    <div class="col-lg-9 col-12">
                        <label for="streetName"
                               th:class="'form-label' + ${#fields.hasErrors('streetName') ? 'is-invalid' : ''}">
                            Street Name:
                        </label>
                        <div class="sname" id="sname"></div>
                        <input type="text"
                               th:class="'form-control ' + ${#fields.hasErrors('streetName') ? 'is-invalid' : ''}"
                               id="streetName"
                               th:name="streetName"
                               th:value="${garden.streetName}"
                               data-cy="streetName">
                        <div class="invalid-feedback text-danger"
                             th:if="${#fields.hasErrors('streetName')}"
                             th:errors="*{streetName}">
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-xl-4 col-12">
                        <label for="suburb"
                               th:class="'form-label' + ${#fields.hasErrors('suburb') ? 'is-invalid' : ''}">
                            Suburb:
                        </label>
                        <input type="text"
                               th:class="'form-control ' + ${#fields.hasErrors('suburb') ? 'is-invalid' : ''}"
                               id="suburb"
                               th:name="suburb"
                               th:value="${garden.suburb}"
                               data-cy="suburb">
                        <div class="invalid-feedback text-danger"
                             th:if="${#fields.hasErrors('suburb')}"
                             th:errors="*{suburb}">
                        </div>
                    </div>
                    <div class="col-xl-4 col-12">
                        <label for="city"
                               th:class="'form-label required-field ' + ${#fields.hasErrors('city') ? 'is-invalid' : ''}">
                            City:
                        </label>
                        <input type="text"
                               th:class="'form-control ' + ${#fields.hasErrors('city') ? 'is-invalid' : ''}"
                               id="city"
                               th:name="city"
                               th:value="${garden.city}"
                               data-cy="city">
                        <div class="invalid-feedback text-danger"
                             th:if="${#fields.hasErrors('city')}"
                             th:errors="*{city}">
                        </div>
                    </div>
                    <div class="col-xl-4 col-12">
                        <label for="postCode"
                               th:class="'form-label' + ${#fields.hasErrors('postCode') ? 'is-invalid' : ''}">
                            Postcode:
                        </label>
                        <input type="text"
                               th:class="'form-control ' + ${#fields.hasErrors('postCode') ? 'is-invalid' : ''}"
                               id="postCode"
                               th:name="postCode"
                               th:value="${garden.postCode}"
                               data-cy="postCode">
                        <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('postCode')}"
                             th:errors="*{postCode}">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="country"
                           th:class="'form-label required-field ' + ${#fields.hasErrors('country') ? 'is-invalid' : ''}">
                        Country:
                    </label>
                    <input type="text"
                           th:class="'form-control ' + ${#fields.hasErrors('country') ? 'is-invalid' : ''}"
                           id="country"
                           th:name="country"
                           th:value="${garden.country}"
                           data-cy="country">
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('country')}"
                         th:errors="*{country}">
                    </div>
                </div>
            </div>
            <input type="hidden"
                   id="lat"
                   th:name="lat"
                   th:value="${garden.lat}">
            <input type="hidden"
                   id="lon"
                   th:name="lon"
                   th:value="${garden.lon}">
            <!-- Garden Size Field -->
            <div class="mb-3">
                <label for="size" th:class="'form-label' + ${#fields.hasErrors('size') ? 'is-invalid' : ''}">
                    Garden Size m&sup2;:
                </label>
                <input type="text"
                       th:class="'form-control ' + ${#fields.hasErrors('size') ? 'is-invalid' : ''}"
                       id="size"
                       th:name="size"
                       th:value="${garden.size}"
                       data-cy="size">
                <div class="invalid-feedback text-danger"
                     th:if="${#fields.hasErrors('size')}"
                     th:errors="*{size}">
                </div>
            </div>
            <!-- Garden Description -->
            <div class="mb-3">
                <label for="description"
                       th:class="'form-label' + ${#fields.hasErrors('description') ? 'is-invalid' : ''}">Description:</label>
                <div class="input-group">
                    <textarea
                            th:class="'form-control ' + ${(#fields.hasErrors('description') || profanity != null) ? 'is-invalid' : ''}"
                            id="description"
                            th:name="description"
                            th:text="${garden.description}"
                            data-cy="size"
                            maxlength="512"
                            autofocus></textarea>
                    <span class="numberOfCharactersText input-group-text justify-content-end"
                          id="numberOfCharactersText"></span>
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('description')}"
                         th:errors="*{description}">
                    </div>
                    <div class="invalid-feedback"
                         th:if="${profanity != null}">
                        <span th:text="${profanity}"></span>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" id="submit-button" class="btn btn-primary btn-sm">Submit</button>
                <a class="btn btn-outline-secondary btn-sm btn-cancel" th:href="@{${cancelUrl}}">Cancel</a>
            </div>
        </div>
    </form>
    <script th:src="@{/js/nextFormBox.js}"></script>
    <script th:src="@{/js/autocomplete.js}"></script>
    <script th:src="@{/js/locationAutocomplete.js}"></script>
    <script>
        // Keeps track of the word count in the description box.
        const numberOfCharactersText = document.getElementById("numberOfCharactersText");
        const descriptionTextBox = document.getElementById("description");
        numberOfCharactersText.innerText = descriptionTextBox.value.length + "/512";

        descriptionTextBox.addEventListener("input", () => {
            numberOfCharactersText.innerText = descriptionTextBox.value.length + "/512";
        })
    </script>
    <script>
        document.getElementById('garden-form').addEventListener('submit', function(event) {
            const submitButton = document.getElementById('submit-button');
            submitButton.disabled = true;
        });
    </script>
</div>
