<div th:fragment="list-of-gardens(baseUrl)">
    <div th:if="${#lists.size(gardenPage.content) == 0}" class="alert alert-info" role="alert">
        There is no garden to display, please add one first.
    </div>
    <div th:unless="${#lists.size(gardenPage.content) == 0}" class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 g-3">
        <th:block th:each="garden : ${gardenPage.content}">
            <div>
                <a th:href="@{/gardens/{id}(id=${garden.id})}" class="text-decoration-none text-dark">
                    <div class="card rounded-3 border-0 shadow h-100 card-hover">
                        <div class="card-img-top card-img-top-fixed d-flex align-items-center">
                            <div class="row g-0 img-row">
                                <div class="col-12">
                                    <div class="plant-img" title="Default Garden Image" th:style="|background-image: url('@{/gardens/{id}/garden-image(id=${garden.id})}')|"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-white">
                            <h5 class="card-title" th:text="${garden.name}"></h5>
                            <p class="card-text" th:text="'Created by: ' + ${garden.owner.fname} + (${garden.owner.lname} != null ? ' ' + ${garden.owner.lname} : '')"></p>
                        </div>
                    </div>
                </a>
            </div>
        </th:block>
    </div>
    <nav class="mt-4" th:unless="${#lists.size(gardenPage.content) == 0}">
        <ul class="pagination justify-content-center">
            <!-- First page link -->
            <li class="page-item" th:classappend="${gardenPage.first ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/gardens(page=0, size=${gardenPage.size})}">
                    <img th:src="@{/icons/first-page-icon.svg}" alt="" width="20" height="25" />
                </a>
            </li>

            <!-- Previous page link -->
            <li class="page-item" th:classappend="${gardenPage.hasPrevious() ? '' : 'disabled'}">
                <a class="page-link" th:href="@{${baseUrl}(page=${gardenPage.number - 1}, size=${gardenPage.size})}">
                    <img th:src="@{/icons/prev-icon.svg}" alt="" width="20" height="25" />
                </a>
            </li>

            <!-- Dynamic page links -->
            <li th:each="i : ${#numbers.sequence(gardenPage.number - 2, gardenPage.number + 2)}"
                th:if="${i >= 0 and i < gardenPage.totalPages}" class="page-item"
                th:classappend="${i == gardenPage.number ? 'active' : ''}">
                <a class="page-link" th:href="@{${baseUrl}(page=${i}, size=${gardenPage.size})}" th:text="${i + 1}" style="font-size:18px"></a>
            </li>

            <!-- Next page link -->
            <li class="page-item" th:classappend="${gardenPage.hasNext() ? '' : 'disabled'}">
                <a class="page-link" th:href="@{${baseUrl}(page=${gardenPage.number + 1}, size=${gardenPage.size})}">
                    <img th:src="@{/icons/next-icon.svg}" alt="" width="20" height="25" />
                </a>
            </li>

            <!-- Last page link -->
            <li class="page-item" th:classappend="${gardenPage.last ? 'disabled' : ''}">
                <a class="page-link" th:href="@{${baseUrl}(page=${gardenPage.totalPages - 1}, size=${gardenPage.size})}">
                    <img th:src="@{/icons/last-page-icon.svg}" alt="" width="20" height="25" />
                </a>
            </li>
        </ul>
    </nav>
    </div>