<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div th:fragment="navbar">
  <nav class="nav-drawer" data-bs-theme="dark">
    <h5 class="d-flex align-items-center">
      <a href="#navDrawer" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="navDrawer" class="d-md-none"><img
          class="link-icon" th:src="@{/icons/menu-01-stroke-rounded-white.svg}" width="24" height="24" alt="Menu" /></a>
      <a th:href="@{/}" class="d-flex justify-content-center w-100">
        <img th:src="@{/img/logo.svg}" aria-hidden alt="Pollinat*r" style="margin-left: -5px;" id="navbarLogo"/>
      </a>
      <div class="d-md-none d-block">
        <div th:replace="~{fragments/darkmode-toggle :: darkmode-toggle}"></div>
      </div>
    </h5>
    <section class="collapse flex-grow-1 d-md-flex flex-column" id="navDrawer">
      <ul th:if="${!isAuthenticated}" class="main-list">
        <li>
          <a th:href="@{/users/login}">
            <img class="link-icon" th:src="@{/icons/login.svg}" width="24" height="24" aria-hidden alt="Sign In" />
           Sign In
          </a>
        </li>
        <li>
          <a th:href="@{/users/register}">
            <img class="link-icon" th:src="@{/icons/register.svg}" width="24" height="24" aria-hidden alt="Register" />
           Register
          </a>
        </li>
      </ul>
      <ul th:if="${isAuthenticated}" class="main-list">
        <li>
          <a th:href="@{/}">
            <img class="link-icon" th:src="@{/icons/home-01-stroke-rounded-white.svg}" width="24" height="24" aria-hidden alt="Home" />
            Home
          </a>
        </li>
        <li>
          <a th:href="@{/gardens}">
            <img class="link-icon" th:src="@{/icons/natural-food-stroke-rounded-white.svg}" width="24" height="24" aria-hidden alt="Gardens" />
            My Gardens
          </a>
        </li>
        <li>
          <a th:href="@{/gardens/public}">
            <img class="link-icon" th:src="@{/icons/public-garden-icon.svg}" width="24" height="24" aria-hidden alt="Browse Public Gardens" />
            Browse Gardens
          <a th:href="@{/gardens/create}">
            <img class="link-icon" th:src="@{/icons/create.svg}" width="24" height="24" aria-hidden alt="createGarden" />
            Create Garden
          </a>
        </li>
        <li>
          <a th:href="@{/plant-information}">
            <img class="link-icon" th:src="@{/icons/plant-information.svg}" width="24" height="24" aria-hidden alt="plant information" />
            Search Plants
          </a>
        </li>
        <li>
          <a th:href="@{/users/manage-friends}">
            <img class="link-icon" th:src="@{/icons/user-multiple-02-stroke-rounded-white.svg}" width="24" height="24" aria-hidden alt="Friends" />
            Friends
          </a>
        </li>
        <li>
          <a th:href="@{/message-home}">
            <img class="link-icon" th:src="@{/icons/message.svg}" width="24" height="24" aria-hidden alt="Message" />
            Messages
            <Span id="unreadCountDisplay" class="badge rounded-pill badge-notification bg-danger m-2">0</Span>
          </a>

        </li>
      </ul>
      <div class="d-none d-md-block" th:if="${!isAuthenticated}">
        <div th:replace="~{fragments/darkmode-toggle :: darkmode-toggle}"></div>
      </div>
      <ul th:if="${isAuthenticated}" class="pt-3">
        <li class="d-flex">
          <a class="w-100"
             href="#profileOptions"
             data-bs-toggle="collapse"
             role="button"
             aria-expanded="false"
             aria-controls="profileOptions">
            <img class="link-icon" th:src="@{/icons/user-stroke-rounded-white.svg}" width="24" height="24" alt="User" />
            <span th:text="${currentUserFullName}">User</span>
          </a>
          <div class="d-none d-md-block justify-content-end d-flex w-auto align-content-center mx-3">
            <div th:replace="~{fragments/darkmode-toggle :: darkmode-toggle}"></div>
          </div>
        </li>
      </ul>
      <section class="collapse" id="profileOptions">
        <ul class="pt-3">
          <li>
            <a th:href="@{/users/settings}">
              <img class="link-icon" th:src="@{/icons/account-settings.svg}" width="24" height="24" aria-hidden alt="Account Settings" />
             Account Settings
            </a>
            <a th:href="@{/users/public-profile}">
              <img class="link-icon" th:src="@{/icons/user-circle-stroke-rounded.svg}" width="24" height="24" aria-hidden alt="Profile" />
              My Public Profile
            </a>
          </li>
          <li>
            <a th:href="@{/users/logout}">
              <img class="link-icon" th:src="@{/icons/logout-03-stroke-rounded-white.svg}" width="24" height="24" aria-hidden alt="Sign Out" />
              Sign Out
            </a>
          </li>
        </ul>
      </section>
    </section>
  </nav>
</div>
</body>
</html>