<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div th:fragment="navbar">
  <nav class="nav-drawer">
    <h5 class="d-flex">
      <a href="#navDrawer" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="navDrawer" class="d-md-none"><img
          class="link-icon" th:src="@{/icons/menu-01-stroke-rounded-white.svg}" width="24" height="24" alt="Menu" /></a>
      <a th:href="@{/}">Gardener's Grove</a>
    </h5>
    <section class="collapse flex-grow-1 d-md-flex flex-column" id="navDrawer">
      <div th:if="${!isAuthenticated}" class="main-list">
        <a class="btn btn-primary" th:href="@{/users/login}">Sign In</a>
        <a class="btn btn-secondary" th:href="@{/users/register}">Register</a>
      </div>
      <ul th:if="${isAuthenticated}" class="main-list">
        <li>
          <a th:href="@{/}">
            <img class="link-icon" th:src="@{/icons/home-01-stroke-rounded-white.svg}" width="24" height="24" aria-hidden alt="Home" />
            Home
          </a>
        </li>
        <li>
          <a th:href="@{/gardens}">
            <img class="link-icon" th:src="@{/icons/natural-food-stroke-rounded-white.svg}" width="24" height="24" aria-hidden alt="Gardens" />
            My Gardens
          </a>
        </li>
        <li>
          <a th:href="@{/users/manageFriends}">
            <img class="link-icon" th:src="@{/icons/user-multiple-02-stroke-rounded-white.svg}" width="24" height="24" aria-hidden alt="Friends" />
            Friends
          </a>
        </li>
      </ul>
      <ul th:if="${isAuthenticated}" class="pt-3">
        <li>
          <a href="#profileOptions" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="profileOptions">
            <img class="link-icon" th:src="@{/icons/user-stroke-rounded-white.svg}" width="24" height="24" alt="User" />
            <span th:text="${currentUserFullName}">User</span>
          </a>
        </li>
      </ul>
      <section class="collapse" id="profileOptions">
        <ul class="pt-3">
          <li>
            <a th:href="@{/users/user}">
              <img class="link-icon" th:src="@{/icons/task-02-stroke-rounded-white.svg}" width="24" height="24" aria-hidden alt="Profile" />
              My Profile
            </a>
          </li>
          <li>
            <a th:href="@{/users/logout}">
              <img class="link-icon" th:src="@{/icons/logout-03-stroke-rounded-white.svg}" width="24" height="24" aria-hidden alt="Sign Out" />
              Sign Out
            </a>
          </li>
        </ul>
      </section>
    </section>
  </nav>
</div>
</body>
</html>