<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
		<div th:fragment="navbar">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
					<!-- Logo -->
					<a class="navbar-brand" th:href="@{/}">Gardeners Grove</a>
					<!-- Toggle button for mobile -->
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarNav"
						aria-controls="navbarNav"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<!-- Navbar links -->
					<div
						class="collapse navbar-collapse justify-content-end"
						id="navbarNav"
					>
						<ul class="navbar-nav">
							<li class="nav-item dropdown">
								<a
									class="nav-link dropdown-toggle"
									th:href="@{/gardens}"
									id="navbarDropdownMenuLink"
									aria-expanded="false"
								>
									My Gardens
								</a>
								<ul
									class="dropdown-menu"
									aria-labelledby="navbarDropdownMenuLink"
								>
									<li>
										<a
											class="dropdown-item"
											th:each="garden : ${gardens}"
											th:text="${garden.name}"
											th:href="@{/gardens/} + ${garden.id}"
										></a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/gardens/create}"
									>Create New Garden</a
								>
							</li>
							<li class="nav-item" th:if="${!isAuthenticated}">
								<a class="nav-link" th:href="@{/users/login}"
									>Sign In</a
								>
							</li>
							<li class="nav-item" th:if="${isAuthenticated}">
								<a class="nav-link" th:href="@{/users/logout}"
									>Sign Out</a
								>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
