<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  lang="">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Edit Profile | Gardener's Grove</title>

	<!-- This needs to be here for Bootstrap and general CSS imports -->
	<th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <main class="main-container" style = "margin-top: 10%;">
        <div class="p-5 card">
            <h1>Edit Account Settings</h1>
            <form th:action="edit" method="post" enctype="multipart/form-data" th:object="${editUserDTO}" novalidate>
                <div th:insert="fragments/edit-profile-picture.html"></div>
                <th:block th:insert="~{fragments/user-form.html :: formFields}"></th:block>
                <p><a class="btn btn-primary" th:href="@{/users/edit/password}">Change Password</a></p>
                <button class="btn btn-primary">Submit</button>
                <a th:href="@{/users/settings}" class="btn btn-outline-secondary">Cancel</a>
            </form>
        </div>

    </main>
    <th:block th:insert="~{fragments/user-form.html :: handleNoLnameCheckbox}"></th:block>
    <script th:src="@{/js/dateValidation.js}"></script>
    <th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
</body>
</html>