<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Change Password | Gardener's Grove</title>

    <!-- This needs to be here for Bootstrap and general CSS imports -->
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <main class="main-container" style = "margin-top: 10%;">
        <div class="card p-5">
            <h1>Register</h1>
            <form th:action="password" method="post" th:object="${editPasswordDTO}" class="mt-4">
                <div class="mb-3">
                    <label for="oldPassword" th:class="'form-label ' + ${#fields.hasErrors('oldPassword') ? 'is-invalid' : ''}">Old Password:</label>
                    <input id="oldPassword" type="password" th:name="oldPassword" th:class="'form-control ' + ${#fields.hasErrors('oldPassword') ? 'is-invalid' : ''}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></div>
                </div>
                <div class="mb-3">
                    <label for="newPassword" th:class="'form-label ' + ${#fields.hasErrors('newPassword') ? 'is-invalid' : ''}">New Password:</label>
                    <input id="newPassword" type="password" th:name="newPassword" th:class="'form-control ' + ${#fields.hasErrors('newPassword') ? 'is-invalid' : ''}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" th:class="'form-label ' + ${#fields.hasErrors('confirmPassword') ? 'is-invalid' : ''}">Retype password:</label>
                    <input id="confirmPassword" type="password" th:name="confirmPassword" th:class="'form-control ' + ${#fields.hasErrors('confirmPassword') ? 'is-invalid' : ''}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
                </div>
                <div>
                    <button class="btn btn-primary">Submit</button>
                    <a th:href="@{/users/edit}" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </main>
    <th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
</body>
</html>