<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Change Password | Gardener's Grove</title>
    <!--/*/ <th:block th:insert="~{fragments/general.html :: headerfiles}">
        </th:block> /*/-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <main class="main-container">
        <h1>Register</h1>
        <form th:action="password" method="post">
            <label class="form-group">
                Old Password
                <input type="password" th:name="oldPassword">
                <span class = "error" th:if="${incorrectOld != null}" th:text="*{incorrectOld}"></span>
            </label>
            <label class="form-group">
                New Password
                <input type="password" th:name="newPassword">
            </label>
            <label class="form-group">
                Retype password
                <input type="password" th:name="confirmPassword">
                <span class = "error" th:if="${incorrectMatch!= null}" th:text="*{incorrectMatch}"></span>
                <span class = "error" th:if="${incorrectStrength != null}" th:text="*{incorrectStrength}"></span>
            </label>
            <button class="btn">Submit</button>
            <a href="/users/user" class="btn">Cancel</a>
        </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>