<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Change Password | Gardener's Grove</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <main class="main-container">
        <h1>Register</h1>
        <form th:action="password" method="post">
            <label class="form-group">
                Old Password
                <input type="password" th:name="oldPassword">
                <span class = "error" th:if="${incorrectOld != null}" th:text="*{incorrectOld}"></span>
            </label>
            <label class="form-group">
                New Password
                <input type="password" th:name="newPassword">
            </label>
            <label class="form-group">
                Retype password
                <input type="password" th:name="confirmPassword">
                <span class = "error" th:if="${incorrectMatch!= null}" th:text="*{incorrectMatch}"></span>
                <span class = "error" th:if="${incorrectStrength != null}" th:text="*{incorrectStrength}"></span>
            </label>
            <button class="btn">Submit</button>
            <a href="/users/user" class="btn">Cancel</a>
        </form>
    </main>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>