<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Edit Profile | Gardener's Grove</title>

	<!-- This needs to be here for Bootstrap and general CSS imports -->
	<th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <main class="main-container">
        <h1>Edit</h1>
        <div th:insert="fragments/edit-profile-picture.html"></div>
        <p><a th:href="@{/users/edit/password}">Change Password</a></p>
        <form th:action="edit" method="post" th:object="${editUserDTO}" onsubmit="return validateDate()" novalidate>
            <label th:class="'form-group ' + ${#fields.hasErrors('fname') ? 'form-group-error' : ''}">
                First Name
                <input type="text" th:name="fname" th:value="*{fname}">
                <div th:if="${#fields.hasErrors('fname')}" th:errors="*{fname}" style="color: red;"></div>
            </label>
            <label th:class="'form-group ' + ${#fields.hasErrors('lname') ? 'form-group-error' : ''}">
                Last Name
                <input type="text" th:name="lname" th:value="*{lname}" id="lname">
                <div th:if="${#fields.hasErrors('lname')}" th:errors="*{lname}" style="color: red;"></div>
            </label>
            <label class="form-checkbox">
                <input type="checkbox" th:name="noLname" th:value="*{noLname}" th:checked="*{noLname}" id="noLname"> I have no surname
            </label>
            <label th:class="'form-group ' + ${#fields.hasErrors('email') ? 'form-group-error' : ''}">
                Email
                <input type="text" th:name="email" th:value="*{email}" inputmode="email">
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></div>
            </label>
            <label th:class="'form-group ' + ${#fields.hasErrors('dateOfBirth') ? 'form-group-error' : ''}">
                Date of Birth (optional)
                <input id="datePicker"
                       type="date"
                       placeholder="DD/MM/YYYY"
                       th:class="'form-control ' + ${#fields.hasErrors('dateOfBirth') ? 'is-invalid' : ''}"
                       th:name="dateOfBirth"
                       th:value="*{dateOfBirth}">
                <div th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" style="color: red;"></div>
                <!--      dateError is the flag for when the date is not filled in correctly (e.g. 10/mm/2001)      -->
                <input type="hidden" name="dateError" id="dateError" value="">
            </label>
            <button class="btn">Submit</button>
            <a th:href="@{/users/user}" class="btn">Cancel</a>
        </form>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const noLname = document.getElementById('noLname');
            const lname = document.getElementById('lname');
    
            // Function to check the initial state of noLname
            function checkNoLnameState() {
                lname.disabled = noLname.checked;
            }
    
            // Event listener for changes in noLname
            noLname.addEventListener('input', (ev) => {
                noLname.value = noLname.checked;
                checkNoLnameState();
            });
    
            // Check the initial state when the page loads
            checkNoLnameState();
        });
    </script>
    <script th:src="@{/js/dateValidation.js}"></script>
    <th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
</body>
</html>