<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8" />
        <title>Friends Profile | Gardener's Grove</title>

        <!-- This needs to be here for Bootstrap and general CSS imports -->
        <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
    </head>
    <body>
        <nav th:replace="~{fragments/navbar :: navbar}"></nav>
        <main class="main-container">
            <h1> Friend Profile</h1>
            <div th:insert="~{fragments/edit-profile-picture.html}"></div>
            <h3>First Name</h3>
            <p th:text="${Friend.fname}"></p>
            <h3>Last Name</h3>
            <p th:text="${Friend.lname}"></p>
            <h3>Email</h3>
            <p th:text="${Friend.email}"></p>
            <div th:if="${Friend.dob != null}"> 
                <h3>Date of Birth</h3>
                <p th:text="${Friend.dob}"></p>
            </div>
        </main>
        <th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
    </body>
</html>
