<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Sign In | Gardener's Grove</title>
    <!--/*/ <th:block th:insert="~{fragments/general.html :: headerfiles}">
        </th:block> /*/-->
</head>
<body>
    <header th:insert="~{fragments/general.html :: header}"></header>
    <main class="main-container">
        <h1>Sign In</h1>
        <form th:action="login" method="post" th:object="${user}">
            <label th:class="'form-group ' + ${incorrectEmail != null ? 'form-group-error' : ''}">
                Email
                <input type="text" th:name="email" th:value="*{email}" inputmode="email">
                <span class = "error" th:if="${incorrectEmail != null}" th:text="*{incorrectEmail}"></span>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></div>
            </label>
            <label th:class="'form-group ' + ${invalidCredentials != null ? 'form-group-error' : ''}">
                Password
                <input type="password" th:name="password">
                <span class = "error" th:if="${invalidCredentials != null}" th:text="${invalidCredentials}"></span>
            </label>
            <button class="btn form-group">Sign In</button>
            <a href="/" class="btn form-group">Cancel</a>
            <a href="/users/register" class="btn form-group">Not registered? Create an account</a>
        </form>
    </main>
</body>
</html>