<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8" />
        <title>Sign In | Gardener's Grove</title>

        <!-- This needs to be here for Bootstrap and general CSS imports -->
        <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
    </head>
    <body>
        <nav th:replace="~{fragments/navbar :: navbar}"></nav>
        <main class="main-container">
            <h1>Sign In</h1>
            <span th:if="${generalError != null}" th:text="${generalError}" style="color: red;"></span>
            <span th:if="${justAuthenticated == true}">Your account has been activated, please log in<br></span>
            <form th:action="login" method="post" th:object="${loginDTO}">
                <label th:class="'form-group ' + ${#fields.hasErrors('email') ? 'form-group-error' : ''}">
                    Email
                    <input type="text" th:name="email" th:value="*{email}" inputmode="email">
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></div>
                </label>
                <label th:class="'form-group ' + ${#fields.hasErrors('password') ? 'form-group-error' : ''}">
                    Password
                    <input type="password" th:name="password">
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></div>
                </label>
                <p>
                    <a th:href="@{/users/reset-password}" class="d-inline-block">Forgot your password?</a>
                </p>
                <p>
                    <a th:href="@{/users/register}" class="d-inline-block">Not registered? Create an account</a>
                </p>
                <button class="btn btn-primary form-group">Sign In</button>
                <a th:href="@{/}" class="btn btn-secondary form-group">Cancel</a>
            </form>
        </main>
        <th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
    </body>
</html>
