<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <title>Friends</title>

    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- This needs to be here for Bootstrap and general CSS imports -->
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>

<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="container-fluid px-2 px-md-4">

    <div class="py-4">
        <h1>Friends</h1>
    </div>
    <ul class="nav nav-tabs col-lg-11" id="friendTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="friends-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="true">
            <span class="d-inline d-sm-none">
                <img th:src="@{/icons/friends-icon-black.svg}" alt="Friends tab icon">
            </span>
                <span class="d-none d-sm-inline">My Friends</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="requests-tab" data-toggle="tab" href="#requests" role="tab" aria-controls="requests" aria-selected="false">
            <span class="d-inline d-sm-none">
                <img th:src="@{/icons/friend-request-icon.svg}" alt="Friend request tab icon">
            </span>
                <span class="d-none d-sm-inline">Requests </span><span class="badge request-notification-badge"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="addFriend-tab" data-toggle="tab" href="#addFriend" role="tab" aria-controls="addFriend" aria-selected="false">
            <span class="d-inline d-sm-none">
                <img th:src="@{/icons/add-friend-icon.svg}" alt="Add friend tab icon">
            </span>
                <span class="d-none d-sm-inline">Add Friend</span>
            </a>
        </li>
    </ul>

    <div class="tab-content col-lg-11">
        <div class="tab-pane fade show active" id="friends" role="tabpanel" aria-labelledby="friends-tab">
            <div class="card my-2">
                <div class="card-body">
                    <table class="table" aria-label="Table with a list of my friends">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Link</th>
                            <th scope="col">Profile</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody th:if="${friends.empty}">
                        <tr>
                            <td colspan="2">No friends found.</td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                        <tbody th:each="friend : ${friends}">
                        <tr>
                            <td class="align-middle">
                                <img class="rounded-circle overflow-hidden border border-dark"
                                     th:src="@{'/users/' + ${friend.id} + '/profile-picture'}"
                                     style="width: 40px; height: 40px;" alt="Profile Picture">
                                <span th:text="${friend.fname}"> </span>
                                <span th:if="${friend.lname != null}" th:text="${friend.lname}"></span>
                            </td>
                            <td class="align-middle">
                                <a th:href="@{/viewFriendGardens/{id}(id=${friend.id})}">View gardens</a>
                            </td>
                            <td class="align-middle">
                                <a th:href="@{/users/friend-profile/{id}(id=${friend.id})}">View profile</a>
                            </td>
                            <td class="align-middle">
                                <form th:action="@{/users/manage-friends/remove}" method="post">
                                    <input type="hidden" name="friendId" th:value="${friend.id}"/>
                                    <button type="submit" class="btn btn-outline-danger remove-friend-btn">Remove Friend
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="requests" role="tabpanel" aria-labelledby="requests-tab">
            <div class="card m-2">
                <div class="card-body">
                    <h2>Received: </h2>

                    <table class="table" aria-label="Table with a list of received friend requests">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody th:if="${receivedRequests.empty}">
                        <tr>
                            <td colspan="2">No friend requests.</td>
                        </tr>
                        </tbody>

                        <tbody th:each="friend : ${receivedRequests}">
                        <tr>
                            <td>
                                <img class="rounded-circle overflow-hidden border border-dark"
                                     th:src="@{'/users/' + ${friend.sender.id} + '/profile-picture'}"
                                     style="width: 40px; height: 40px;" alt="Profile Picture">
                                <span th:text="${friend.sender.fname}"> </span>
                                <span th:if="${friend.sender != null}"
                                      th:text="${friend.sender.lname}"></span>
                            </td>
                            <td>
                                <form th:action="@{/users/manage-friends/accept}" method="post" class="d-inline">
                                    <button type="submit" name="acceptUser" th:value="${friend.sender.id}"
                                            class="btn btn-primary btn-sm mr-2">Accept
                                    </button>
                                </form>
                                <form th:action="@{/users/manage-friends/decline}" method="post" class="d-inline">
                                    <button type="submit" name="declineUser" th:value="${friend.sender.id}"
                                            class="btn btn-danger btn-sm mr-2">Decline
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card m-2">
                <div class="card-body">
                    <h2>Sent: </h2>
                    <table class="table" aria-label="Table with a list of sent friend requests">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody th:if="${sentRequests.empty}">
                        <tr>
                            <td colspan="2">No requests sent.</td>
                        </tr>
                        </tbody>
                        <tbody th:each="friend : ${sentRequests}">
                        <tr>
                            <td class="align-middle">
                                <img class="rounded-circle overflow-hidden border border-dark"
                                     th:src="@{'/users/' + ${friend.receiver.id} + '/profile-picture'}"
                                     style="width: 40px; height: 40px;" alt="Profile Picture">
                                <span th:text="${friend.receiver.fname}"> </span>
                                <span th:if="${friend.receiver != null}"
                                      th:text="${friend.receiver.lname}"></span>
                            </td>
                            <td class="align-middle" th:text="${friend.status}"></td>
                            <form th:action="@{/users/manage-friends/cancel}" method="post" class="d-inline">
                                <input type="hidden" name="userId" th:value="${friend.receiver.id}" class="d-inline"/>
                                <td class="align-middle">
                                    <button class="btn btn-outline-danger btn-sm mr-2"
                                            th:if="${friend.status.name() == 'PENDING'}">Cancel
                                    </button>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="addFriend" role="tabpanel" aria-labelledby="addFriend-tab">
            <div class="search-results">
                <form id="searchForm" th:action="@{/users/manage-friends/search}" method="post"
                      class="form-inline my-2">
                    <div class="d-flex col-lg-8">
                        <input type="search" name="searchUser" class="form-control p-2" aria-label="Search"
                               placeholder="Search"/>
                        <button class="btn btn-outline-secondary p-2" type="submit">
                            <img th:src="@{/icons/search-icon.svg}" alt="" width="25" height="25"/>
                        </button>
                    </div>
                </form>

                <div class="col-lg-8" th:if="${searchResults != null}">
                    <table class="table" aria-label="Search results">
                        <thead>
                        <tr>
                            <th>Search Results</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:if="${searchResults.empty and mySelf == null and requestPending.empty and declineSent.empty and requestReceived.empty and alreadyFriends.empty}"
                                class="text-danger">
                                <strong>
                                    There is nobody with that name or email in Gardener’s Grove
                                </strong>
                            </td>
                        </tr>

                        <tr th:if="${mySelf != null}">
                            <td class="align-middle">
                                <img class="rounded-circle overflow-hidden border border-dark"
                                     th:src="@{'/users/' + ${mySelf.id} + '/profile-picture'}"
                                     style="width: 40px; height: 40px;"
                                     alt="Profile Picture">
                                <span th:text="${mySelf.fname} "></span>
                                <span th:if="${mySelf.lname != null}" th:text="${mySelf.lname}"></span>
                                <span>(me)</span>
                            </td>
                            <td class="align-middle">
                                <span th:text="${mySelf.email}"></span>
                            </td>
                            <td>
                                <a href="http://localhost:8080/users/user" class="btn btn-primary btn-sm mr-2">View
                                    Profile</a>
                            </td>
                        </tr>
                        <tr th:if="${!alreadyFriends.empty}" th:each="currentFriend : ${alreadyFriends}">
                            <td class="align-middle">
                                <img class="rounded-circle overflow-hidden border border-dark"
                                     th:src="@{'/users/' + ${currentFriend.id} + '/profile-picture'}"
                                     style="width: 40px; height: 40px;" alt="Profile Picture">
                                <span th:text="${currentFriend.fname} "></span>
                                <span th:if="${currentFriend.lname != null}" th:text="${currentFriend.lname}"></span>
                            </td>
                            <td>
                            </td>
                            <td class="align-middle text-success">
                                <strong>Already Friends!</strong>
                            </td>
                        </tr>
                        <tr th:if="${!requestPending.empty}" th:each="currentFriend : ${requestPending}">
                            <td class="align-middle">
                                <img class="rounded-circle overflow-hidden border border-dark"
                                     th:src="@{'/users/' + ${currentFriend.id} + '/profile-picture'}"
                                     style="width: 40px; height: 40px;" alt="Profile Picture">
                                <span th:text="${currentFriend.fname} "></span>
                                <span th:if="${currentFriend.lname != null}" th:text="${currentFriend.lname}"></span>
                            </td>
                            <td>
                            </td>
                            <td class="align-middle text-muted">
                                <strong>Pending...</strong>
                            </td>
                        </tr>
                        <tr th:if="${!declineSent.empty}" th:each="user : ${declineSent}">
                            <td class="align-middle">
                                <img class="rounded-circle overflow-hidden border border-dark"
                                     th:src="@{'/users/' + ${user.id} + '/profile-picture'}"
                                     style="width: 40px; height: 40px;" alt="Profile Picture">
                                <span th:text="${user.fname} "></span>
                                <span th:if="${user.lname != null}" th:text="${user.lname}"></span>
                            </td>
                            <td></td>
                            <td class="align-middle text-muted">
                                <strong>Declined</strong>
                            </td>
                        </tr>
                        <tr th:if="${!requestReceived.empty}" th:each="user : ${requestReceived}">
                            <td class="align-middle">
                                <img class="rounded-circle overflow-hidden border border-dark"
                                     th:src="@{'/users/' + ${user.id} + '/profile-picture'}"
                                     style="width: 40px; height: 40px;" alt="Profile Picture">
                                <span th:text="${user.fname} "></span>
                                <span th:if="${user.lname != null}" th:text="${user.lname}"></span>
                            </td>
                            <td></td>
                            <td>
                                <form th:action="@{/users/manage-friends/accept}" method="post" class="d-inline">
                                    <button type="submit" name="acceptUser" th:value="${user.id}"
                                            class="btn btn-primary btn-sm mr-2">Accept
                                    </button>
                                </form>
                                <form th:action="@{/users/manage-friends/decline}" method="post" class="d-inline">
                                    <button type="submit" name="declineUser" th:value="${user.id}"
                                            class="btn btn-danger btn-sm mr-2">Decline
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr th:if="searchResults != null" th:each="friend : ${searchResults}">
                            <td class="align-middle">
                                <img class="rounded-circle overflow-hidden border border-dark"
                                     th:src="@{'/users/' + ${friend.id} + '/profile-picture'}"
                                     style="width: 40px; height: 40px;" alt="Profile Picture">
                                <span th:text="${friend.fname} "></span>
                                <span th:if="${friend.lname != null}" th:text="${friend.lname}"></span>
                            </td>
                            <td></td>
                            <td class="align-middle">
                                <form th:action="@{/users/manage-friends/invite}" method="post" id="inviteBtn">
                                    <input type="hidden" name="requestedUser" th:value="${friend.id}" class="d-inline"/>
                                    <button type="submit" class="btn btn-primary btn-sm mr-2">Invite as Friend</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Confirm Removal</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to remove this friend?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-outline-danger" id="confirmRemove">Remove Friend</button>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const removeFriendButtons = document.querySelectorAll('.remove-friend-btn');
        const confirmModal = $('#confirmModal');
        let formToSubmit = null;

        removeFriendButtons.forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();
                formToSubmit = button.closest('form');
                confirmModal.modal('show');
            });
        });

        document.getElementById('confirmRemove').addEventListener('click', function () {
            formToSubmit.submit();
        });

        confirmModal.find('.btn-secondary').on('click', function () {
            confirmModal.modal('hide');
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const triggerTabList = document.querySelectorAll('#friendTabs a')
        triggerTabList.forEach(function (triggerEl) {
            const tabTrigger = new bootstrap.Tab(triggerEl)

            triggerEl.addEventListener('click', function (event) {
                event.preventDefault()
                tabTrigger.show()
            })
        })
    });

    document.addEventListener('DOMContentLoaded', function () {
        const addFriendTab = document.getElementById('addFriend-tab');
        const searchForm = document.getElementById('searchForm');
        const clickAddFriendTab = function () {
            addFriendTab.click();
        };

        searchForm.addEventListener('submit', function () {
            sessionStorage.setItem('searchSubmitted', 'true');
        });

        const searchSubmitted = sessionStorage.getItem('searchSubmitted');
        if (searchSubmitted) {
            sessionStorage.removeItem('searchSubmitted');
            clickAddFriendTab();
        }
    });

    function countReceivedRequests() {
        const receivedRequestsTableBody = document.querySelector('#requests table');
        if (receivedRequestsTableBody) {
            const requestRows = receivedRequestsTableBody.querySelectorAll('tbody');
            let actualRequestCount = 0;
            requestRows.forEach(row => {
                if (!row.textContent.includes('No friend requests.')) {
                    actualRequestCount++;
                }
            });
            return actualRequestCount;
        }
        return 0;
    }

    function updateRequestBadge() {
        const badge = document.querySelector('.request-notification-badge');
        if (badge) {
            badge.textContent = countReceivedRequests().toString();
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        updateRequestBadge();
        document.getElementById('requests-tab').addEventListener('click', updateRequestBadge);
    });
</script>
</body>
</html>