<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
	<head>
		<!-- TODO: Update this title for your page -->
		<title>Gardener's Grove</title>

		<meta http-equiv="Content-Type" context="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- This needs to be here for Bootstrap and general CSS imports -->
		<!--/*/ <th:block th:insert="~{fragments/general.html :: headerfiles}">
        </th:block> /*/-->
	</head>
	<body>
		<nav th:replace="~{fragments/navbar :: navbar}"></nav>
		<div> 
			<form th:action="@{/users/manageFriends/search}" method="post">
				<input type="text" name="searchUser" placeholder="Search..." />
				<button type="submit">Search</button>
			</form>
			<h2> all users</h2>
			<ul>
				<li th:each="frien : ${searchResults}">
					<span th:text="${frien.fname}"></span>
					<span th:text=" ${frien.lname}"></span>
					<form th:action="@{/users/manageFriends/invite}" method="post" style="display: inline;">
						<input type="hidden" name="requestedUser" th:value="${frien.id}"/>
						<button type="submit">Invite as Friend</button>
					</form>
				</li>
			</ul>
		</div>
		<div>
			<h2>friends: </h2>
			<ul>
				<li th:each="frien : ${friends}">
					<span th:text="${frien.fname}"></span>
				</li>
			</ul>
		</div>

		<div>
			<h2>sent requests: </h2>
			<ul>
				<li th:each="frien : ${sentRequests}">
					<span th:text="${frien.status}"></span>
					<span th:text="${frien.receive_user_id.fname}"></span>
				</li>
			</ul>
		</div>

		<div>
			<h2>received requests: </h2>
			<ul>
				<li th:each="frien : ${receivedRequests}">
					<span th:text="${frien.sent_user_id.fname}"></span>
					<form th:action="@{/users/manageFriends/accept}" method="post" style="display: inline;">
						<button type="submit" name="acceptUser" th:value="${frien.sent_user_id.id}">accept</button>
					</form>
					<form th:action="@{/users/manageFriends/decline}" method="post" style="display: inline;">
						<button type="submit" name="declineUser" th:value="${frien.sent_user_id.id}">decline</button>
					</form>
				</li>
			</ul>
		</div>
	</body>
</html>
