<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Friends</title>

    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- This needs to be here for Bootstrap and general CSS imports -->
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>

<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="container-fluid px-2 px-md-4">

    <div class="py-4">
        <h1>Friends</h1>
    </div>
    <ul class="nav nav-tabs col-lg-11" id="friendTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="friends-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="true">
            <span class="d-inline">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
                    <path d="M13 7C13 9.20914 11.2091 11 9 11C6.79086 11 5 9.20914 5 7C5 4.79086 6.79086 3 9 3C11.2091 3 13 4.79086 13 7Z" stroke="currentColor" stroke-width="1.5" />
                    <path d="M15 11C17.2091 11 19 9.20914 19 7C19 4.79086 17.2091 3 15 3" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M11 14H7C4.23858 14 2 16.2386 2 19C2 20.1046 2.89543 21 4 21H14C15.1046 21 16 20.1046 16 19C16 16.2386 13.7614 14 11 14Z" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
                    <path d="M17 14C19.7614 14 22 16.2386 22 19C22 20.1046 21.1046 21 20 21H18.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </span>
                <span class="d-none d-sm-inline friend-header">My Friends</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="requests-tab" data-toggle="tab" href="#requests" role="tab" aria-controls="requests" aria-selected="false">
            <span class="d-inline">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
                    <path d="M6.18007 15.2964C4.92249 16.0335 1.62521 17.5386 3.63348 19.422C4.6145 20.342 5.7071 21 7.08077 21H14.9192C16.2929 21 17.3855 20.342 18.3665 19.422C20.3748 17.5386 17.0775 16.0335 15.8199 15.2964C12.8709 13.5679 9.12906 13.5679 6.18007 15.2964Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M15 7C15 9.20914 13.2091 11 11 11C8.79086 11 7 9.20914 7 7C7 4.79086 8.79086 3 11 3C13.2091 3 15 4.79086 15 7Z" stroke="currentColor" stroke-width="1.5" />
                    <path d="M18 5.53846C18 4.68879 18.6716 4 19.5 4C20.3284 4 21 4.68879 21 5.53846C21 5.84473 20.9127 6.1301 20.7623 6.36984C20.3141 7.08436 19.5 7.76572 19.5 8.61538V9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                    <path d="M19.4998 11H19.5088" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </span>
                <span class="d-none d-sm-inline friend-header">Requests </span><span class="badge request-notification-badge"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="addFriend-tab" data-toggle="tab" href="#addFriend" role="tab" aria-controls="addFriend" aria-selected="false">
            <span class="d-inline">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
                    <path d="M12.5 22H6.59087C5.04549 22 3.81631 21.248 2.71266 20.1966C0.453365 18.0441 4.1628 16.324 5.57757 15.4816C7.67837 14.2307 10.1368 13.7719 12.5 14.1052C13.3575 14.2261 14.1926 14.4514 15 14.7809" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M16.5 6.5C16.5 8.98528 14.4853 11 12 11C9.51472 11 7.5 8.98528 7.5 6.5C7.5 4.01472 9.51472 2 12 2C14.4853 2 16.5 4.01472 16.5 6.5Z" stroke="currentColor" stroke-width="1.5" />
                    <path d="M18.5 22L18.5 15M15 18.5H22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
               </svg>
            </span>
                <span class="d-none d-sm-inline friend-header">Add Friend</span>
            </a>
        </li>
    </ul>

    <div class="tab-content col-lg-11">
        <div class="tab-pane fade show active" id="friends" role="tabpanel" aria-labelledby="friends-tab">
            <div class="card my-2 rounded-3">
                <div class="table-responsive">
                    <table class="table" aria-label="Table with a list of my friends">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Garden</th>
                            <th scope="col">Profile</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody th:if="${friends.empty}">
                        <tr>
                            <td colspan="2">No friends found.</td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                        <tbody th:each="friend : ${friends}">
                        <tr>
                            <td class="align-middle align-items-center friend-info">
                                <div class="friend-container my-2">
                                    <img class="rounded-circle overflow-hidden"
                                         th:src="@{(${friend.profilePicture} != null) ? '/users/' + ${friend.id} + '/profile-picture' : '/img/default-profile.svg'}"
                                         style="width: 40px; height: 40px;" alt="Profile Picture">
                                    <div class="friend-name">
                                    <span th:text="${friend.fname}"></span>
                                    <span th:if="${friend.lname != null}" th:text="${friend.lname}"></span>
                                    </div>
                                    <a th:href="@{/users/message(id=${friend.id})}" class="btn btn-primary btn-sm mr-2 message-button">Message</a>
                                </div>

                            </td>
                            <td class="align-middle">
                                <a th:href="@{/viewFriendGardens/{id}(id=${friend.id})}" class="btn btn-secondary btn-sm mr-2">View gardens</a>
                            </td>
                            <td class="align-middle">
                                <a th:href="@{/users/public-profile/{id}(id=${friend.id})}" class="btn btn-secondary btn-sm mr-2">View Profile</a>
                            </td>
                            <td class="align-middle">
                                <form th:action="@{/users/manage-friends/remove}" method="post">
                                    <input type="hidden" name="friendId" th:value="${friend.id}"/>
                                    <button type="submit" class="btn btn-outline-danger remove-friend-btn">Remove Friend
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="requests" role="tabpanel" aria-labelledby="requests-tab">
            <div class="card m-2">
                <div class="card-body">
                    <h2>Received: </h2>

                    <table class="table" aria-label="Table with a list of received friend requests">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Profile</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody th:if="${receivedRequests.empty}">
                        <tr>
                            <td colspan="2">No friend requests.</td>
                        </tr>
                        </tbody>

                        <tbody th:each="friend : ${receivedRequests}">
                        <tr>
                            <td>
                                <img class="rounded-circle overflow-hidden border border-dark"
                                     th:src="@{(${friend.sender.profilePicture} != null) ? '/users/' + ${friend.sender.id} + '/profile-picture' : '/img/default-profile.svg'}"
                                     style="width: 40px; height: 40px;" alt="Profile Picture">
                                <span th:text="${friend.sender.fname}"> </span>
                                <span th:if="${friend.sender != null}"
                                      th:text="${friend.sender.lname}"></span>
                            </td>
                            <td class="align-middle">
                                <a th:href="@{/users/public-profile/{id}(id=${friend.sender.id})}" class="btn btn-secondary btn-sm mr-2">View Profile</a>
                            </td>
                            <td>
                                <form th:action="@{/users/manage-friends/accept}" method="post" class="d-inline">
                                    <button type="submit" name="acceptUser" th:value="${friend.sender.id}"
                                            class="btn btn-primary btn-sm mr-2">Accept
                                    </button>
                                </form>
                                <form th:action="@{/users/manage-friends/decline}" method="post" class="d-inline">
                                    <button type="submit" name="declineUser" th:value="${friend.sender.id}"
                                            class="btn btn-danger btn-sm mr-2">Decline
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card m-2">
                <div class="card-body">
                    <h2>Sent: </h2>
                    <table class="table" aria-label="Table with a list of sent friend requests">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Profile</th>
                            <th scope="col">Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody th:if="${sentRequests.empty}">
                        <tr>
                            <td colspan="2">No requests sent.</td>
                        </tr>
                        </tbody>
                        <tbody th:each="friend : ${sentRequests}">
                        <tr>
                            <td class="align-middle">
                                <img class="rounded-circle overflow-hidden border border-dark"
                                     th:src="@{(${friend.receiver.profilePicture} != null) ? '/users/' + ${friend.receiver.id} + '/profile-picture' : '/img/default-profile.svg'}"
                                     style="width: 40px; height: 40px;" alt="Profile Picture">
                                <span th:text="${friend.receiver.fname}"> </span>
                                <span th:if="${friend.receiver != null}"
                                      th:text="${friend.receiver.lname}"></span>
                            </td>
                            <td class="align-middle">
                                <a th:href="@{/users/public-profile/{id}(id=${friend.receiver.id})}" class="btn btn-secondary btn-sm mr-2">View Profile</a>
                            </td>
                            <td class="align-middle">
                                <span th:text="${friend.status}" th:classappend="${friend.status.name() == 'PENDING'} ? 'friend-pending-badge' : 'friend-declined-badge'" class="badge-pill badge"></span>
                            </td>
                            <form th:action="@{/users/manage-friends/cancel}" method="post" class="d-inline">
                                <input type="hidden" name="userId" th:value="${friend.receiver.id}" class="d-inline"/>
                                <td class="align-middle">
                                    <button class="btn btn-outline-danger btn-sm mr-2"
                                            th:if="${friend.status.name() == 'PENDING'}">Cancel
                                    </button>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="addFriend" role="tabpanel" aria-labelledby="addFriend-tab">
            <div class="search-results">
                <form id="searchForm" th:action="@{/users/manage-friends/search}" method="post"
                      class="form-inline my-2">
                    <div class="d-flex col-lg-8">
                        <input type="search" name="searchUser" class="form-control p-2" aria-label="Search"
                               placeholder="Search"/>
                        <button class="btn btn-outline-primary p-2" type="submit">
                            <img th:src="@{/icons/search-icon.svg}" alt="" width="25" height="25"/>
                        </button>
                    </div>
                </form>

                <div class="col-lg-8" th:if="${searchResults != null}">
                    <table class="table" aria-label="Search results">
                        <thead>
                        <tr>
                            <th>Search Results</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:if="${searchResults.empty and mySelf == null and requestPending.empty and declineSent.empty and requestReceived.empty and alreadyFriends.empty}"
                                class="text-danger">
                                <strong>
                                    There is nobody with that name or email in Gardener’s Grove
                                </strong>
                            </td>
                        </tr>

                        <tr th:if="${mySelf != null}">
                            <td class="align-middle">
                                <img class="rounded-circle overflow-hidden border border-dark"
                                     th:src="@{(${mySelf.profilePicture} != null) ? '/users/' + ${mySelf.id} + '/profile-picture' : '/img/default-profile.svg'}"
                                     style="width: 40px; height: 40px;"
                                     alt="Profile Picture">
                                <span th:text="${mySelf.fname} "></span>
                                <span th:if="${mySelf.lname != null}" th:text="${mySelf.lname}"></span>
                                <span>(me)</span>
                            </td>
                            <td class="align-middle">
                                <span th:text="${mySelf.email}"></span>
                            </td>
                            <td class="align-middle">
                                <a th:href="@{/users/public-profile}" class="btn btn-primary btn-sm mr-2">View Profile</a>
                            </td>
                        </tr>
                        <tr th:if="${!alreadyFriends.empty}" th:each="currentFriend : ${alreadyFriends}">
                            <td class="align-middle">
                                <img class="rounded-circle overflow-hidden border border-dark"
                                     th:src="@{(${currentFriend.profilePicture} != null) ? '/users/' + ${currentFriend.id} + '/profile-picture' : '/img/default-profile.svg'}"
                                     style="width: 40px; height: 40px;" alt="Profile Picture">
                                <span th:text="${currentFriend.fname} "></span>
                                <span th:if="${currentFriend.lname != null}" th:text="${currentFriend.lname}"></span>
                            </td>
                            <td class="align-middle">
                                <a th:href="@{/users/public-profile/{id}(id=${currentFriend.id})}" class="btn btn-secondary btn-sm mr-2">View Profile</a>
                            </td>
                            <td class="align-middle text-success">
                                <strong>Already Friends!</strong>
                            </td>
                        </tr>
                        <tr th:if="${!requestPending.empty}" th:each="currentFriend : ${requestPending}">
                            <td class="align-middle">
                                <img class="rounded-circle overflow-hidden border border-dark"
                                     th:src="@{(${currentFriend.profilePicture} != null) ? '/users/' + ${currentFriend.id} + '/profile-picture' : '/img/default-profile.svg'}"
                                     style="width: 40px; height: 40px;" alt="Profile Picture">
                                <span th:text="${currentFriend.fname} "></span>
                                <span th:if="${currentFriend.lname != null}" th:text="${currentFriend.lname}"></span>
                            </td>
                            <td class="align-middle">
                                <a th:href="@{/users/public-profile/{id}(id=${currentFriend.id})}" class="btn btn-secondary btn-sm mr-2">View Profile</a>
                            </td>
                            <td class="align-middle text-muted">
                                <span class="badge-pill badge friend-pending-badge">PENDING</span>
                            </td>
                        </tr>
                        <tr th:if="${!declineSent.empty}" th:each="user : ${declineSent}">
                            <td class="align-middle">
                                <img class="rounded-circle overflow-hidden border border-dark"
                                     th:src="@{(${user.profilePicture} != null) ? '/users/' + ${user.id} + '/profile-picture' : '/img/default-profile.svg'}"
                                     style="width: 40px; height: 40px;" alt="Profile Picture">
                                <span th:text="${user.fname} "></span>
                                <span th:if="${user.lname != null}" th:text="${user.lname}"></span>
                            </td>
                            <td class="align-middle">
                                <a th:href="@{/users/public-profile/{id}(id=${user.id})}" class="btn btn-primary btn-sm mr-2">View Profile</a>
                            </td>
                            <td class="align-middle text-muted">
                                <span class="badge-pill badge friend-declined-badge">DECLINED</span>
                            </td>
                        </tr>
                        <tr th:if="${!requestReceived.empty}" th:each="user : ${requestReceived}">
                            <td class="align-middle">
                                <img class="rounded-circle overflow-hidden border border-dark"
                                     th:src="@{(${user.profilePicture} != null) ? '/users/' + ${user.id} + '/profile-picture' : '/img/default-profile.svg'}"
                                     style="width: 40px; height: 40px;" alt="Profile Picture">
                                <span th:text="${user.fname} "></span>
                                <span th:if="${user.lname != null}" th:text="${user.lname}"></span>
                            </td>
                            <td class="align-middle">
                                <a th:href="@{/users/public-profile/{id}(id=${user.id})}" class="btn btn-secondary btn-sm mr-2">View Profile</a>
                            </td>
                            <td class="align-middle">
                                <form th:action="@{/users/manage-friends/accept}" method="post" class="d-inline">
                                    <button type="submit" name="acceptUser" th:value="${user.id}"
                                            class="btn btn-primary btn-sm mr-2">Accept
                                    </button>
                                </form>
                                <form th:action="@{/users/manage-friends/decline}" method="post" class="d-inline">
                                    <button type="submit" name="declineUser" th:value="${user.id}"
                                            class="btn btn-danger btn-sm mr-2">Decline
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr th:if="searchResults != null" th:each="friend : ${searchResults}">
                            <td class="align-middle">
                                <img class="rounded-circle overflow-hidden border border-dark"
                                     th:src="@{(${friend.profilePicture} != null) ? '/users/' + ${friend.id} + '/profile-picture' : '/img/default-profile.svg'}"
                                     style="width: 40px; height: 40px;" alt="Profile Picture">
                                <span th:text="${friend.fname} "></span>
                                <span th:if="${friend.lname != null}" th:text="${friend.lname}"></span>
                            </td>
                            <td class="align-middle">
                                <a th:href="@{/users/public-profile/{id}(id=${friend.id})}" class="btn btn-secondary btn-sm mr-2">View Profile</a>
                            </td>
                            <td class="align-middle">
                                <form th:action="@{/users/manage-friends/invite}" method="post" id="inviteBtn">
                                    <input type="hidden" name="requestedUser" th:value="${friend.id}" class="d-inline"/>
                                    <button type="submit" class="btn btn-primary btn-sm mr-2">Invite as Friend</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Confirm Removal</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to remove this friend?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-outline-danger" id="confirmRemove">Remove Friend</button>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const removeFriendButtons = document.querySelectorAll('.remove-friend-btn');
        const confirmModal = $('#confirmModal');
        let formToSubmit = null;

        removeFriendButtons.forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();
                formToSubmit = button.closest('form');
                confirmModal.modal('show');
            });
        });

        document.getElementById('confirmRemove').addEventListener('click', function () {
            formToSubmit.submit();
        });

        confirmModal.find('.btn-secondary').on('click', function () {
            confirmModal.modal('hide');
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const triggerTabList = document.querySelectorAll('#friendTabs a')
        triggerTabList.forEach(function (triggerEl) {
            const tabTrigger = new bootstrap.Tab(triggerEl)

            triggerEl.addEventListener('click', function (event) {
                event.preventDefault()
                tabTrigger.show()
            })
        })
    });

    document.addEventListener('DOMContentLoaded', function () {
        const addFriendTab = document.getElementById('addFriend-tab');
        const searchForm = document.getElementById('searchForm');
        const clickAddFriendTab = function () {
            addFriendTab.click();
        };

        searchForm.addEventListener('submit', function () {
            sessionStorage.setItem('searchSubmitted', 'true');
        });

        const searchSubmitted = sessionStorage.getItem('searchSubmitted');
        if (searchSubmitted) {
            sessionStorage.removeItem('searchSubmitted');
            clickAddFriendTab();
        }
    });

    function countReceivedRequests() {
        const receivedRequestsTableBody = document.querySelector('#requests table');
        if (receivedRequestsTableBody) {
            const requestRows = receivedRequestsTableBody.querySelectorAll('tbody');
            let actualRequestCount = 0;
            requestRows.forEach(row => {
                if (!row.textContent.includes('No friend requests.')) {
                    actualRequestCount++;
                }
            });
            return actualRequestCount;
        }
        return 0;
    }

    function updateRequestBadge() {
        const badge = document.querySelector('.request-notification-badge');
        if (badge) {
            badge.textContent = countReceivedRequests().toString();
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        updateRequestBadge();
        document.getElementById('requests-tab').addEventListener('click', updateRequestBadge);
    });
</script>
</body>
</html>