<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Message</title>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- This needs to be here for Bootstrap and general CSS imports -->
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
    <style>
        /* Make messages container scrollable */
        .messages {
            height: calc(100vh - 200px);
            /* Adjust as necessary */
            overflow-y: auto;

        }

        /* Ensure textarea and send button stay at the bottom */
        .send-message-container {
            position: sticky;
            bottom: 0;
            background-color: white;
            z-index: 1000;
        }

        .active-chat {
            background-color: #D3D3D3;
        }
    </style>
</head>

<body class="vh-100 overflow-x-hidden vw-100">
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container-fluid d-flex h-100 p-0 full-height-lg">
    <!-- Mobile Offcanvas Drawer -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="chatDrawer" aria-labelledby="chatDrawerLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="chatDrawerLabel">Recent Chats</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div id="noMessagesHeaderMobile" th:if="${#lists.isEmpty(recentChats)}" class="text-center">
                <h5>You have no recent messages!</h5>
                <button class="btn-primary btn">Make a new connection</button>
            </div>
            <div th:if="${!#lists.isEmpty(recentChats)}">
                <div id="chatSectionMobile" th:each="chat : ${recentChats}" class="border-bottom" style="height: 125px;">
                    <div th:id="${chat.getKey().id}" class="h-100">
                        <form th:action="@{/message-home}" method="post" class="d-flex align-items-center w-100 h-100">
                            <input type="hidden" name="userId" th:value="${chat.getKey().id}" />
                            <button class="btn btn-link text-decoration-none text-dark w-100 open-chat">
                                <div class="m-3 text-start">
                                    <h6 th:text="${chat.getKey().fullName}"></h6>
                                    <div th:if="${(chat.getValue().messageContent) != null && (chat.getValue().messageContent) == ''}">
                                        <p th:if="${chat.getValue().receiver == loggedInUserId}">
                                            Image 📷
                                        </p>
                                        <p th:if="${chat.getValue().sender == loggedInUserId}">
                                            You: Image 📷
                                        </p>
                                    </div>

                                    <p th:if="${chat.getValue().receiver == loggedInUserId}" th:text="${chat.getValue().messageContent}" 
                                        th:title="${chat.getValue().messageContent}" 
                                        class="text-truncate m-0" 
                                        style="max-width: 200px;"></p>

                                    <p th:if="${chat.getValue().sender == loggedInUserId}" th:text="'You: ' + ${chat.getValue().messageContent}" 
                                    th:title="${chat.getValue().messageContent}" 
                                    class="text-truncate m-0" 
                                    style="max-width: 200px;"></p>
                                </div>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Big Screen Sidebar-->
    <div class="sidebar border-end overflow-y-auto d-none d-lg-block" id="friendChatBar" style="min-width: 300px;">
        <div class="border-bottom text-center align-items-center py-3">
            <h3 class="m-0">Recent Chats</h3>
        </div>
        <div id="noMessagesHeader" th:if="${#lists.isEmpty(recentChats)}" class="text-center">
            <h5>You have no recent messages!</h5>
            <button class="btn-primary btn">Make a new connection</button>
        </div>
        <div th:if="${!#lists.isEmpty(recentChats)}">
            <div id="chatSection" th:each="chat : ${recentChats}" class="border-bottom" style="height: 125px;">
                <div th:id="${chat.getKey().id + 'Mobile'}" class="h-100">
                    <form th:action="@{/message-home}" method="post" class="d-flex align-items-center w-100 h-100">
                        <input type="hidden" name="userId" th:value="${chat.getKey().id}"/>
                        <button class="btn btn-link text-decoration-none text-dark w-100 open-chat">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle border border-dark"
                                     th:src="@{'/users/' + ${chat.getKey().id} + '/profile-picture'}"
                                     style="width: 50px; height: 50px;" alt="profile picture">
                                <div class="m-3 text-start">
                                    <h6 th:text="${chat.getKey().fullName}"></h6>
                                    <div th:if="${(chat.getValue().messageContent) != null && (chat.getValue().messageContent) == ''}">
                                        <p th:if="${chat.getValue().receiver == loggedInUserId}">
                                            Image 📷
                                        </p>
                                        <p th:if="${chat.getValue().sender == loggedInUserId}">
                                            You: Image 📷
                                        </p>
                                    </div>

                                    <p th:if="${chat.getValue().receiver == loggedInUserId}" th:text="${chat.getValue().messageContent}" 
                                        th:title="${chat.getValue().messageContent}" 
                                        class="text-truncate m-0" 
                                        style="max-width: 200px;"></p>

                                    <p th:if="${chat.getValue().sender == loggedInUserId}" th:text="'You: ' + ${chat.getValue().messageContent}" 
                                    th:title="${chat.getValue().messageContent}" 
                                    class="text-truncate m-0" 
                                    style="max-width: 200px;"></p>
                                </div>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--Main chat stuff-->
    <main class="flex-grow-1 d-flex flex-column h-100 px-lg-4 full-height-lg">
        <div class="pt-4 h-100" id="messageWindow">
            <div class="text-center align-items-center" th:if="${#lists.isEmpty(recentChats)}">
                <h5>You have no recent messages!</h5>
                <button class="btn-primary btn">Make a new connection</button>
            </div>
            <div th:if="${sentToUser}">
                <div class="d-flex align-items-center justify-content-around pb-2" id="messageWindowHeader">
                    <!-- Mobile chat toggle button (hamburger icon) -->
                    <button class="btn border-0 d-lg-none mb-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#chatDrawer" aria-controls="chatDrawer">
                        <img th:src="@{/icons/chat-bar.svg}" width="30" height="30" alt="View Chats" />
                    </button>
                    <h5 class="mb-0" th:text="${sentToUser.fullName}"></h5>
                    <img class="rounded-circle overflow-hidden border border-dark"
                         th:src="@{'/users/' + ${sentToUser.id} + '/profile-picture'}"
                         style="width: 50px; height: 50px;"
                         alt="profile picture">
                </div>
                <div id="scrollbar" class="messages mt-3 p-3">
                    <th:block th:insert="~{users/messagesList}"></th:block>
                </div>

                <!-- message and send message box-->
                <div class="send-message-container">
                    <form th:action="@{/users/message(id=${sentToUser.id})}" method="post" th:object="${messageDTO}" id="sendMessageForm" enctype="multipart/form-data">
                        <input type="hidden" name="submissionToken" th:value="${submissionToken}"/>
                        <div class="d-flex gap-2">
                            <div class="d-flex flex-fill flex-wrap">
                                <label for="message" th:class="'form-label ' + ${#fields.hasErrors('message') ? 'is-invalid' : ''}"></label>
                                <div class="d-flex flex-fill gap-2 px-1">
                                    <label type="input" class="btn btn-primary px-sm-3 py-3" id="imageButton" for="addImage">
                                        <img th:src="@{/icons/image-icon.svg}" alt="Add Image">
                                    </label>
                                    <input id="addImage" name="addImage" class="d-none" type="file" accept=".png,.jpg,.jpeg,.svg" tabindex="0"/>
                                    <textarea id="message"
                                          th:name="message"
                                          class="form-control flex-grow-1"
                                          style="resize: none;"
                                          placeholder="Enter message here..."
                                          autofocus></textarea><!-- Do not new line this -->
                                    <button type="submit" class="btn btn-primary px-sm-3 py-3" id="sendButton" disabled>
                                        <img th:src="@{/icons/sent-stroke-rounded.svg}" alt="Send">
                                    </button>
                                </div>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></div>
                                <div class="invalid-feedback" id="invalidFeedback"></div>
                                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="fileErrorToast">
                                        <div class="toast-header">
                                            <div id="fileErrorToastMessage"></div>
                                            <div><button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button></div>
                                        </div>

                                    </div>
                                </div>
                                <div id="hiddenFileError" th:if="${fileError}" th:text="${fileError}" style="display:none;"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
<th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
<script>
    const scrollToBottom = (element) => {
        element.scrollTop = element.scrollHeight;
    }
    const activeChatId = '[[${activeChat}]]';


    document.addEventListener("DOMContentLoaded", function () {
        const textarea = document.getElementById("message");

        textarea.addEventListener("keydown", function (event) {
            if (event.key === "Enter" && !event.shiftKey && !(textarea.value.length < 0 || messageField.value.trim().length === 0) ) {
                event.preventDefault();
                sendMessage();
            }
        });

        const activeChatDivMobile = document.getElementById(activeChatId+"Mobile");
        const activeChatDiv = document.getElementById(activeChatId);

        if (activeChatDiv) {
            activeChatDiv.classList.add('active-chat');
            activeChatDivMobile.classList.add('active-chat');
        }
    });
</script>
<script>
    const messageField = document.getElementById("message");
    const button = document.getElementById("sendButton");
    messageField.addEventListener("input", () => {
        button.disabled = messageField.value.length <= 0 || messageField.value.trim().length === 0;
    })
</script>
<script>
    document.getElementById("addImage").addEventListener("change", function() {
        if (this.files && this.files.length > 0) {
            document.getElementById("sendMessageForm").submit();
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const fileError = document.getElementById("hiddenFileError");

        // Check if the file error exists and is not empty
        if (fileError && fileError.textContent.trim() !== "") {
            // Set the toast message
            document.getElementById("fileErrorToastMessage").textContent = fileError.textContent;

            // Show the toast
            var toastElement = document.getElementById("fileErrorToast");
            var toast = new bootstrap.Toast(toastElement);
            toast.show();
        }
    });
</script>
<script th:src="@{/js/message.js}"></script>
</body>

</html>