<!DOCTYPE html>
<html lang="en">
<head>
    <title>Message</title>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- This needs to be here for Bootstrap and general CSS imports -->
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<body>
    <div class="container mt-4">
        <div class="d-flex align-items-center">
            <img class="rounded-circle overflow-hidden border border-dark me-2"
            th:src="@{'/users/' + ${sentToUser.id} + '/profile-picture'}" style="width: 50px; height: 50px;" alt="profile picture">
            <h5 class="mb-0" th:text="${sentToUser.fname} + ' ' + ${sentToUser.lname}"></h5>
        </div>
        <hr>
        <div class="messages mt-3">
            <!-- message will be displayed here -->
            <p>messages here</p>
        </div>


        <!-- message and send message box-->
        <form th:action="@{/users/{id}/send-message(id=${sentToUser.id})}" method="post" th:object="${messageDTO}">
            <div class="d-flex">
                <label for="message"></label>
                <input id="message" th:name="message" th:class="form-control" placeholder="Message here..." autofocus>
                <button type="submit" class="btn btn-primary">
                    Send
                    <img th:src="@{/icons/sent-stroke-rounded.svg}" alt=" ">
                </button>
            </div>
        </form>

    </div>
    <th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
</body>
</html>