<!DOCTYPE html>
<html lang="en">
<head>
    <title>Message</title>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- This needs to be here for Bootstrap and general CSS imports -->
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
    <style>
        /* For small screens */
        @media (max-width: 767.98px) {
            main, body {
                height: 80vh;
                overflow: hidden;
            }
            .messages {
                height: 60vh;
                overflow: auto;
            }
        }
        /* For screens larger than mobile */
        @media (min-width: 768px) {
            main, body {
                height: 100vh;
                overflow: hidden;
            }
            .messages {
                height: 70vh;
                overflow-y: auto;
            }
        }

        /* Ensure textarea and send button stay at the bottom */
        .send-message-container {
            position: sticky;
            bottom: 0;
            background-color: white;
            z-index: 1000;
        }
    </style>
</head>

<body class="">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <main class="flex-grow-1 d-flex flex-column position-relative h-100 px-lg-4 px-3">

        <div class="mt-4">
            <div class="d-flex align-items-center">
                <img class="rounded-circle overflow-hidden border border-dark me-2"
                th:src="@{'/users/' + ${sentToUser.id} + '/profile-picture'}" style="width: 50px; height: 50px;" alt="profile picture">
                <h5 class="mb-0" th:text="${sentToUser.fname} + ' ' + (${sentToUser.lname} != null ? ${sentToUser.lname} : '')"></h5>
            </div>
            <hr>
            <div id="scrollbar" class="messages mt-3 p-3">
                <div th:each="messages: ${messagesMap}">
                    <div class="text-center mb-2">[[${dateFormatter.format(messages.key, DATE_FORMAT)}]]</div>
                    <div th:each="message : ${messages.value}">
                        <!--friends msg-->
                        <div th:if="${message.sender == sentToUser.id}" class="d-flex">
                            <!--large screen-->
                            <div class="card text-white bg-secondary shadow-sm mb-3 border-0 d-none d-md-block" style="max-width: 40%">
                                <div class="card-body">
                                    <small>[[${dateFormatter.format(message.timestamp, TIMESTAMP_FORMAT)}]]</small>
                                    <p class="card-text mt-2">[[${message.messageContent}]]</p>
                                </div>
                            </div>

                            <!--small screen-->
                            <div class="card text-white bg-secondary shadow-sm mb-3 border-0 d-block d-md-none" style="max-width: 80%">
                                <div class="card-body">
                                    <small>[[${dateFormatter.format(message.timestamp, TIMESTAMP_FORMAT)}]]</small>
                                    <p class="card-text mt-2">[[${message.messageContent}]]</p>
                                </div>
                            </div>
                        </div>
                        <!--logged in users msg-->
                        <div th:if="${message.receiver == sentToUser.id}" class="d-flex justify-content-end">
                            <div class="card text-white bg-primary shadow-sm mb-3 border-0 d-none d-md-block" style="max-width: 40%">
                                <div class="card-body">
                                    <small>[[${dateFormatter.format(message.timestamp, TIMESTAMP_FORMAT)}]]</small>
                                    <p class="card-text mt-2">[[${message.messageContent}]]</p>
                                </div>
                            </div>
                        </div>

                        <div th:if="${message.receiver == sentToUser.id}" class="d-flex justify-content-end">
                            <div class="card text-white bg-primary shadow-sm mb-3 border-0 d-block d-md-none" style="max-width: 80%">
                                <div class="card-body">
                                    <small>[[${dateFormatter.format(message.timestamp, TIMESTAMP_FORMAT)}]]</small>
                                    <p class="card-text mt-2">[[${message.messageContent}]]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- message and send message box-->
            <div class="send-message-container">
                <form th:action="@{/users/message(id=${sentToUser.id})}" method="post" th:object="${messageDTO}">
                    <input type="hidden" name="submissionToken" th:value="${submissionToken}" />
                    <div class="d-flex gap-2">
                        <div class="d-flex flex-fill flex-wrap">
                            <label for="message" th:class="'form-label ' + ${#fields.hasErrors('message') ? 'is-invalid' : ''}"></label>
                            <div class="d-flex flex-fill gap-2">
                                <textarea id="message"
                                      th:name="message"
                                      class="form-control flex-grow-1"
                                      style="resize: none;"
                                      placeholder="Enter message here..."
                                      autofocus></textarea><!-- Do not new line this -->
                                <button type="submit" class="btn btn-primary px-4 py-0" id="sendButton" disabled>
                                    <img th:src="@{/icons/sent-stroke-rounded.svg}" alt="Send">
                                </button>
                            </div>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></div>
                        </div>
                    </div>
                </form>
                <span class="d-sm-block p-3"></span>
            </div>
        </div>
    </main>
    <th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const textarea = document.getElementById("message");

            textarea.addEventListener("keydown", function(event) {
                if (event.key === "Enter" && !event.shiftKey) {
                    event.preventDefault();
                    this.form.submit();
                }
            });
        });

        const scrollToBottom = (element) => {
            element.scrollTop = element.scrollHeight;
        }

        window.addEventListener('load', function() {
            const scrollbar = document.getElementById('scrollbar');
            scrollToBottom(scrollbar);
        });
    </script>

    <script>
        const messageField = document.getElementById("message");
        const button = document.getElementById("sendButton");
        messageField.addEventListener("input", () => {
            button.disabled = messageField.value.length <= 0 || messageField.value.trim().length === 0;
        })
    </script>
</body>
</html>