<div th:each="messages: ${messagesMap}">
    <div class="text-center mb-2">[[${dateFormatter.format(messages.key, DATE_FORMAT)}]]</div>
    <div th:each="message : ${messages.value}">
        <!--friends msg-->
        <div th:if="${message.sender == sentToUser.id}" class="d-flex">
            <!--large screen-->
            <div class="card text-white bg-secondary shadow-sm mb-3 border-0 d-none d-md-block" style="max-width: 40%">
                <div class="card-body">
                    <small>[[${dateFormatter.format(message.timestamp, TIMESTAMP_FORMAT)}]]</small>
                    <p class="card-text mt-2">[[${message.messageContent}]]</p>
                </div>
            </div>

            <!--small screen-->
            <div class="card text-white bg-secondary shadow-sm mb-3 border-0 d-block d-md-none" style="max-width: 80%">
                <div class="card-body">
                    <small>[[${dateFormatter.format(message.timestamp, TIMESTAMP_FORMAT)}]]</small>
                    <p class="card-text mt-2">[[${message.messageContent}]]</p>
                </div>
            </div>
        </div>
        <!--logged in users msg-->
        <div th:if="${message.receiver == sentToUser.id}" class="d-flex justify-content-end">
            <div class="card text-white bg-primary shadow-sm mb-3 border-0 d-none d-md-block" style="max-width: 40%">
                <div class="card-body">
                    <small>[[${dateFormatter.format(message.timestamp, TIMESTAMP_FORMAT)}]]</small>
                    <p class="card-text mt-2">[[${message.messageContent}]]</p>
                </div>
            </div>
        </div>

        <div th:if="${message.receiver == sentToUser.id}" class="d-flex justify-content-end">
            <div class="card text-white bg-primary shadow-sm mb-3 border-0 d-block d-md-none" style="max-width: 80%">
                <div class="card-body">
                    <small>[[${dateFormatter.format(message.timestamp, TIMESTAMP_FORMAT)}]]</small>
                    <p class="card-text mt-2">[[${message.messageContent}]]</p>
                </div>
            </div>
        </div>
    </div>
</div>
