<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8" />
    <title th:if="${currentUser == userId}">My Public Profile | Pollinat*r</title>
    <title th:if="${currentUser != userId}">[[${name}]] | Pollinat*r</title>
    <!-- This needs to be here for Bootstrap and general CSS imports -->
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<main class="main-container" style="margin-top: 10%;">
    <div class="card border-top-0">
        <img
                class="card-img-top img-fluid fixed-height mb-4"
                th:src="@{'/users/' + ${userId} + '/profile-banner'}"
                alt="profile banner"
        />
        <img
                class="public-profile-picture position-absolute top-0 end-0 public-profile-picture-padding me-2"
                th:src="@{'/users/' + ${userId} + '/profile-picture'}"
                width="180"
                height="180"
                alt="profile picture"
        />
            <div class="m-4 mt-0 d-flex flex-column">
                <div class="d-flex align-items-center">
                    <h2>[[${name}]]</h2>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <img th:src="@{birth-flower-black.svg}" alt="Birth Flower Icon"/>
                    <div class="d-flex align-items-center">
                        <p class="mx-1 my-auto">
                            <strong>Birth Flower</strong>
                            <!-- <span th:text="${birthFlower}"></span> -->
                        </p>
                    </div>
                </div>

                <h5 class="mb-1 about-me">About me...</h5>
                <p>[[${description}]]</p>
            </div>

        <p class="m-4 p-2 mb-0 pe-1 d-flex justify-content-end">
            <a th:href="@{edit-public-profile}" th:if="${currentUser == userId}" class="btn btn-primary">Edit Profile</a>
        </p>


        <div class="card m-4 p-4 mt-1 border-0 rounded-3 shadow-sm" style="background-color: #F9EFCC">
            <h4>My Favourite Garden</h4>
            <div th:if="${favouriteGarden == null}" class="text-center my-5">
                <p>No Favourite Garden Selected</p>
            </div>
            <th:block th:if="${favouriteGarden != null}" th:insert="~{fragments/favourite-garden.html :: favourite-garden}"></th:block>
        </div>

        <div class="card m-4 p-4 mt-1 border-0 rounded-3 shadow-sm" style="background-color: #F9EFCC">
            <h4>My Favourite Plants...</h4>
            <th::block th:insert="~{fragments/favourite-plants.html :: favourite-plants}"></th::block>
        </div>
    </div>
</main>
<th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
</body>
</html>