<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Register | Gardener's Grove</title>

    <!-- This needs to be here for Bootstrap and general CSS imports -->
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>

</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <main class="main-container">
        <div class="card p-5">
            <h1>Register</h1>
            <form th:action="register" method="post" th:object="${registerDTO}">
                <div class="mb-3">
                    <label for="fname" th:class="'form-label ' + ${#fields.hasErrors('fname') ? 'is-invalid' : ''}">First Name</label>
                    <input id="fname" type="text" th:class="'form-control ' + ${#fields.hasErrors('fname') ? 'is-invalid' : ''}" th:name="fname" th:value="*{fname}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('fname')}" th:errors="*{fname}"></div>
                </div>
                <div class="mb-3">
                    <label for="lname" th:class="'form-label ' + ${#fields.hasErrors('lname') ? 'is-invalid' : ''}">Last Name</label>
                    <input type="text" th:class="'form-control ' + ${#fields.hasErrors('lname') ? 'is-invalid' : ''}" th:name="lname" th:value="*{lname}" id="lname">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('lname')}" th:errors="*{lname}"></div>
                </div>
                <label class="form-check">
                    <input type="checkbox" class="form-check-input" th:name="noLname" th:value="*{noLname}" th:checked="*{noLname}" id="noLname"> I have no surname
                </label>
                <div class="mb-3">
                    <label for="email" th:class="'form-input ' + ${#fields.hasErrors('email') ? 'is-invalid' : ''}">Email</label>
                    <input id="email" type="text" th:class="'form-control ' + ${#fields.hasErrors('email') ? 'is-invalid' : ''}" th:name="email" th:value="*{email}" inputmode="email">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>
                <div class="mb-3">
                    <label for="password" th:class="'form-label ' + ${#fields.hasErrors('password') ? 'is-invalid' : ''}">Password</label>
                    <input id="password" type="password" th:class="'form-control ' + ${#fields.hasErrors('password') ? 'is-invalid' : ''}" th:name="password">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" th:class="'form-label ' + ${#fields.hasErrors('confirmPassword') ? 'is-invalid' : ''}">Confirm Password</label>
                    <input id="confirmPassword" type="password" th:class="'form-control ' + ${#fields.hasErrors('confirmPassword') ? 'is-invalid' : ''}" th:name="confirmPassword">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
                </div>
                <div class="mb-3">
                    <label for="DOB" th:class="'form-label ' + ${#fields.hasErrors('DOB') ? 'is-invalid' : ''}">Date of Birth (optional)</label>
                    <input id="DOB" type="text" th:class="'form-control ' + ${#fields.hasErrors('DOB') ? 'is-invalid' : ''}" th:name="DOB" th:value="*{DOB}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('DOB')}" th:errors="*{DOB}"></div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary">Sign Up</button>
                    <a th:href="@{/}" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const noLname = document.getElementById('noLname');
            const lname = document.getElementById('lname');
    
            // Function to check the initial state of noLname
            function checkNoLnameState() {
                lname.disabled = noLname.checked;
            }
    
            // Event listener for changes in noLname
            noLname.addEventListener('input', (ev) => {
                noLname.value = noLname.checked;
                checkNoLnameState();
            });
    
            // Check the initial state when the page loads
            checkNoLnameState();
        });
    </script>
    <th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
</body>
</html>