<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Register | Gardener's Grove</title>

    <!-- This needs to be here for Bootstrap and general CSS imports -->
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <main class="main-container">
        <h1>Register</h1>
        <form th:action="register" method="post" th:object="${registerDTO}">
            <label th:class="'form-group ' + ${#fields.hasErrors('fname') ? 'form-group-error' : ''}">
                First Name
                <input type="text" class="form-control" th:name="fname" th:value="*{fname}">
                <div th:if="${#fields.hasErrors('fname')}" th:errors="*{fname}" style="color: red;"></div>
            </label>
            <label th:class="'form-group ' + ${#fields.hasErrors('lname') ? 'form-group-error' : ''}">
                Last Name
                <input type="text" class="form-control" th:name="lname" th:value="*{lname}" id="lname">
                <div th:if="${#fields.hasErrors('lname')}" th:errors="*{lname}" style="color: red;"></div>
            </label>
            <label class="form-check">
                <input type="checkbox" class="form-check-input" th:name="noLname" th:value="*{noLname}" th:checked="*{noLname}" id="noLname"> I have no surname
            </label>
            <label th:class="'form-group ' + ${#fields.hasErrors('email') ? 'form-group-error' : ''}">
                Email
                <input type="text" class="form-control" th:name="email" th:value="*{email}" inputmode="email">
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></div>
            </label>
            <label th:class="'form-group ' + ${#fields.hasErrors('password') ? 'form-group-error' : ''}">
                Password
                <input type="password" class="form-control" th:name="password">
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></div>
            </label>
            <label th:class="'form-group ' + ${#fields.hasErrors('confirmPassword') ? 'form-group-error' : ''}">
                Confirm Password
                <input type="password" class="form-control" th:name="confirmPassword">
                <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" style="color: red;"></div>
            </label>
            <label th:class="'form-group ' + ${#fields.hasErrors('DOB') ? 'form-group-error' : ''}">
                Date of Birth (optional)
                <input type="text" class="form-control" th:name="DOB" th:value="*{DOB}">
                <div th:if="${#fields.hasErrors('DOB')}" th:errors="*{DOB}" style="color: red;"></div>
            </label>
            <button class="btn btn-primary">Sign Up</button>
            <a th:href="@{/}" class="btn btn-outline-primary">Cancel</a>
        </form>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const noLname = document.getElementById('noLname');
            const lname = document.getElementById('lname');
    
            // Function to check the initial state of noLname
            function checkNoLnameState() {
                lname.disabled = noLname.checked;
            }
    
            // Event listener for changes in noLname
            noLname.addEventListener('input', (ev) => {
                noLname.value = noLname.checked;
                checkNoLnameState();
            });
    
            // Check the initial state when the page loads
            checkNoLnameState();
        });
    </script>
    <th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
</body>
</html>