<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Reset Password | Gardener's Grove</title>
    <!--/*/ <th:block th:insert="~{fragments/general.html :: headerfiles}">
        </th:block> /*/-->
</head>
<body>
    <header th:insert="~{fragments/general.html :: header}"></header>
    <main class="main-container">
        <h1>Reset Password</h1>
        <form th:action="callback" method="post">
            <input type="hidden" name="token" th:value="${token}">
            <label th:class="'form-group ' + ${invalidCredentials != null ? 'form-group-error' : ''}">
                New Password
                <input type="password" th:name="newPassword">
                <span class = "error" th:if="${invalidCredentials != null}" th:text="*{invalidCredentials}"></span>
            </label>
            <label th:class="'form-group ' + ${invalidCredentials != null ? 'form-group-error' : ''}">
                Retype Password
                <input type="password" th:name="retypePassword">
                <span class = "error" th:if="${invalidCredentials != null}" th:text="*{invalidCredentials}"></span>
            </label>
            <button class="btn form-group">Save</button>
            <a href="/save" class="btn form-group">Cancel</a>
        </form>
    </main>
</body>
</html>