<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Reset Password | Gardener's Grove</title>

    <!-- This needs to be here for Bootstrap and general CSS imports -->
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <main class="main-container">
        <h1>Reset Password</h1>
        <form th:action="callback" method="post" th:object="${resetPasswordDTO}">
            <input type="hidden" th:name="token" th:value="*{token}">
            <label th:class="'form-group ' + ${#fields.hasErrors('newPassword') ? 'form-group-error' : ''}">
                New Password
                <input type="password" th:name="newPassword">
                <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" style="color: red;"></div>
            </label>
            <label th:class="'form-group ' + ${#fields.hasErrors('confirmPassword') ? 'form-group-error' : ''}">
                Retype password
                <input type="password" th:name="confirmPassword">
                <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" style="color: red;"></div>
            </label>
            <button class="btn form-group">Save</button>
            <a th:href="@{/save}" class="btn form-group">Cancel</a>
        </form>
    </main>
</body>
</html>