<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Reset Password | Gardener's Grove</title>

    <!-- This needs to be here for Bootstrap and general CSS imports -->
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<main class="main-container">
    <div class="card p-5 mx-auto">
        <h1>Reset Password</h1>
        <form th:action="reset-password" method="post">
            <div>
                <label for="email" th:class="'form-label ' + ${incorrectEmail != null ? 'is-invalid' : ''}">Email</label>
                <input type="text" id="email" th:name="email" th:value="*{email}" inputmode="email" th:class="'form-control '+ ${incorrectEmail != null ? 'is-invalid' : ''}">
                <span class="invalid-feedback" th:if="${incorrectEmail != null}" th:text="*{incorrectEmail}" style="color: red"></span>
            </div>
            </br>
            <div class="d-flex flex-row justify-content-left">
                <button class="btn btn-primary">Submit</button>
                <a type="button" th:href="@{/users/login}" class="btn btn-outline-secondary mx-2">Cancel</a>
            </div>
        </form>
    </div>
</main>
<th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
</body>
</html>
