<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Reset Password | Gardener's Grove</title>
    <!--/*/ <th:block th:insert="~{fragments/general.html :: headerfiles}">
        </th:block> /*/-->
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>
<body>
    <main class="main-container">
        <h1>Reset Password</h1>
        <form th:action="reset-password" method="post">
            <label th:class="'form-group ' + ${incorrectEmail != null ? 'form-group-error' : ''}">
                Email
                <input type="text" th:name="email" th:value="*{email}" inputmode="email">
                <span class="error" th:if="${incorrectEmail != null}" th:text="*{incorrectEmail}"></span>
            </label>
            <button class="btn form-group">Submit</button>
            <a href="/users/login" class="btn form-group">Cancel</a>
        </form>
    </main>
</body>
</html>