<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Reset Password | Gardener's Grove</title>

    <!-- This needs to be here for Bootstrap and general CSS imports -->
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <main class="main-container">
        <div class="card p-5 mx-auto text-center">
            <h1>Password Reset Requested</h1>
            <p>An email has been sent to that email if an account exists at that address.</p>
            <p>Please check your email for a link to reset your password.</p>
            <p>You can safely close this page.</p>
            <div class="row pt-3">
                <div class="col-6 mx-auto">
                    <a th:href="@{/users/login}" class="btn btn-primary btn-block">Return to Login</a>
                </div>
            </div>
        </div>
    </main>
    <th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
</body>
</html>