<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8" />
        <title>My Profile | Gardener's Grove</title>

        <!-- This needs to be here for Bootstrap and general CSS imports -->
        <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
    </head>
    <body>
        <nav th:replace="~{fragments/navbar :: navbar}"></nav>
        <main class="main-container">
            <h1>My Profile</h1>
            <div th:insert="~{fragments/edit-profile-picture.html}"></div>
            <h3>First Name</h3>
            <p>[[${fname}]]</p>
            <h3>Last Name</h3>
            <p th:if="${lname != null}">[[${lname}]]</p>
            <p th:if="${lname == null}">&mdash;</p>
            <h3>Email</h3>
            <p>[[${email}]]</p>
            <h3>Date of Birth</h3>
            <p th:if="${dateOfBirth != null}">[[${dateOfBirth}]]</p>
            <p th:if="${dateOfBirth == null}">&mdash;</p>
            <p>
                <a th:href="@{/users/edit}">Edit</a>
            </p>
        </main>
        <th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
    </body>
</html>
