<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8" />
        <title>My Profile | Gardener's Grove</title>

        <!-- This needs to be here for Bootstrap and general CSS imports -->
        <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
    </head>
    <body>
        <nav th:replace="~{fragments/navbar :: navbar}"></nav>
        <main class="main-container" style = "margin-top: 10%;">
            <div class="card p-5">
                <h1>My Profile</h1>
                <img
                    class="profile-picture-large"
                    th:src="@{'/users/' + ${userId} + '/profile-picture'}"
                    width="100"
                    height="100"
                    alt="profile picture"
                />
                <h3>First Name</h3>
                <p>[[${fname}]]</p>
                <h3>Last Name</h3>
                <p th:if="${lname != null}">[[${lname}]]</p>
                <p th:if="${lname == null}">&mdash;</p>
                <h3>Email</h3>
                <p>[[${email}]]</p>
                <h3>Date of Birth</h3>
                <p th:if="${dateOfBirth != null}">[[${dateOfBirth}]]</p>
                <p th:if="${dateOfBirth == null}">&mdash;</p>
                <p>
                    <a th:href="@{/users/edit}" class="btn btn-primary">Edit</a>
                </p>
            </div>
        </main>
        <th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
    </body>
</html>
