<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Gardeners Grove - 404 Error</title>

        <!-- This needs to be here for Bootstrap and general CSS imports -->
        <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
    </head>
    <body>
        <nav th:replace="~{fragments/navbar :: navbar}"></nav>

        <main class="text-center align-items-center">
            <img th:src="@{/img/gorila.png}" alt="Gorila" width="300" height="300" />
            <div class="d-flex justify-content-center mt-5 align-middle">
                <p class="px-2 fs-1">404</p>
                <div class="vr"></div>
                <p class="px-2 fs-1">Page Not Found</p>
            </div>
            <a type="button" class="btn btn-primary" th:href="@{/}">Return Home</a>
        </main>
        <th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
    </body>
</html>
