.flex-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.errorMessage {
    width: 500px;
    color: red;
}

.numberOfCharactersText {
    width: 100px;
    text-align: right;
}