* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}




/* Adjustments for navbar */
.navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Dropdown on hover */
.nav-item:hover #garden-dropdown {
    display: block;
}

.nav-item:hover #user-dropdown {
    display: block;
    right: 0;
}


.main-container {
    background: white;
    box-shadow: #3333 0 0 8px;

    box-sizing: border-box;
    width: 100%;
    max-width: 720px;
    padding: 16px;
    margin: 32px auto;
}

.main-container h1:first-child {
    margin-top: 0;
}

.form-group {
    display: block;
    margin: 16px 0;
}

.form-group input {
    display: block;
    margin: 8px 0;
}

.form-group-error input {
    background: pink;
    outline: 1px solid red;
}

.form-group input[type="file"] {
    display: none;
}

.form-group.link-text {
    color: blue;
    text-decoration: underline;
}

.form-checkbox {
    display: block;
    margin: 16px 0;
}

.error {
    display: block;
    color: red;
}

.profile-picture-large {
    border-radius: 999px;
    box-shadow: #333 0 0 8px -3px;
}

@media (max-width: 752px) {
    .main-container {
        margin: 0;
        max-width: none;
    }
}

.scrolling-table {
    max-height: 560px;
    overflow-y: auto;
    width:700px;
}

table {
    border-collapse: collapse;
    /*width: 650px;*/
    width: 100%;
}

#gardens-table {
    width: 75%;
    margin: 10px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr {
    max-height:50px;
}

tr:hover {
    background-color: #f5f5f5;
}

.error-field {
    border: 1px solid red;
}

a {
    text-decoration: none;
}

.image-container {
    position: relative;
    display: inline-block;
    justify-content: center;
}

.image-container img {
    max-width: 100px;
    max-height: 100px;
    display: block;
}

.add-image-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 1px;
    font-size: 15pt;
    text-decoration: none;
    z-index: 1;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    border: 1px solid black;
    border-radius: 50%;
}

.add-image-button:hover {
    background-color: rgba(128, 128, 128, 0.7);
    border-color: black;
}

#button-link {
    text-decoration: none;
    color: black
}

button {
    padding: 5px;
    margin: 5px;
}

.required-field::after {
    content: "*";
    color: red;
    font-family: bold, serif;
}
