/* Colors */
:root {
    --gg-dark: #b89006;
    --gg-primary: #CB9F03;
    --gg-primary-rgb: 203, 159, 3;
    --gg-primary-light: #EDBA05;
    --gg-secondary: #9E6F40;
    --gg-secondary-rgb: 168, 111, 64;
    --gg-secondary-dark: #964B00;
    --gg-secondary-light: #CA935C;
    --gg-pale: #FFE0B5;
    --gg-not-planted:  saddlebrown;
    --gg-not-planted-hover: #af7244;
    --gg-harvest: sandybrown;
    --gg-harvest-hover: #b97f4d;
    --gg-side-panel: #FFFADE;

    --gg-white: #F5F5F5;
    --gg-white-rgb: 245, 245, 245;
    --gg-black: #1E1E1E;
    --gg-black-rgb: 30, 30, 30;

    --gg-heading-font: "Montserrat", sans-serif;
    --gg-body-font: "Open Sans", sans-serif;


    --bs-primary: var(--gg-primary);
    --bs-primary-rgb: var(--gg-primary-rgb);
    --bs-secondary: var(--gg-secondary);
    --bs-secondary-rgb: var(--gg-secondary-rgb);

    --bs-light: var(--gg-white);
    --bs-light-rgb: var(--gg-white-rgb);
    --bs-dark: var(--gg-black);
    --bs-dark-rgb: var(--gg-black-rgb);
    --bs-secondary-bg: var(--gg-white);
}

/* Global typography */
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: var(--gg-black);
    background-color: #F7F7F7;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #1E1E1E;
}

.montserrat-heading {
     font-family: "Montserrat", sans-serif;
     font-optical-sizing: auto;
     font-weight: 600;
     font-style: normal;
}

.averia-serif-libre-bold {
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-style: normal;
}

@media (min-width: 992px) {
    .full-height-lg {
        height: 100vh;
    }

    .max-full-height-lg {
        max-height: 100vh;
    }
}


/* Buttons */
.btn-primary {
    --bs-btn-color: var(--gg-white);
    --bs-btn-bg: var(--gg-primary);
    --bs-btn-border-color: var(--gg-primary);

    --bs-btn-hover-bg: var(--gg-primary-light);
    --bs-btn-hover-border-color: var(--gg-primary-light);
    --bs-btn-focus-shadow-rgb: var(--gg-primary-rgb);
    --bs-btn-active-color: var(--gg-white);
    --bs-btn-active-bg: var(--gg-dark);
    --bs-btn-active-border-color: var(--gg-dark);
    --bs-btn-disabled-color: white;
    --bs-btn-disabled-bg: var(--gg-pale);
    --bs-btn-disabled-border-color: var(--gg-primary);
}
.btn-change {
    --bs-btn-bg: #E8CB67;
    --bs-btn-hover-bg: #ffe58b;
    --bs-btn-hover-border-color: var(--gg-black);
    --bs-btn-focus-shadow-rgb: var(--gg-primary-rgb);
    --bs-btn-color: var(--gg-black);
}

.button-not-planted {
    --bs-btn-color: var(--gg-white);
    --bs-btn-bg: var(--gg-not-planted);
    --bs-btn-hover-color: var(--gg-white);
    --bs-btn-hover-bg: var(--gg-not-planted-hover);
    --bs-btn-focus-shadow-rgb: var(--gg-primary-rgb);
    --bs-btn-active-color: var(--gg-white);
    --bs-btn-active-bg: var(--gg-not-planted-hover);
}
.button-growing {
    --bs-btn-color: var(--gg-white);
    --bs-btn-bg: var(--gg-primary-light);
    --bs-btn-hover-color: var(--gg-white);
    --bs-btn-hover-bg: var(--gg-dark);
    --bs-btn-hover-border-color: var(--gg-dark);
    --bs-btn-focus-shadow-rgb: var(--gg-primary-rgb);
    --bs-btn-active-color: var(--gg-white);
    --bs-btn-active-bg: var(--gg-dark);
}
.button-harvest {
    --bs-btn-color: var(--gg-white);
    --bs-btn-bg: var(--gg-harvest);
    --bs-btn-hover-color: var(--gg-white);
    --bs-btn-hover-bg: var(--gg-harvest-hover);
    --bs-btn-focus-shadow-rgb: var(--gg-primary-rgb);
    --bs-btn-active-color: var(--gg-white);
    --bs-btn-active-bg: var(--gg-harvest-hover);
}

.btn-outline-primary {
    --bs-btn-color: var(--gg-primary);
    --bs-btn-border-color: var(--gg-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--gg-primary-light);
    --bs-btn-hover-border-color: var(--gg-primary-light);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--gg-primary);
    --bs-btn-active-border-color: var(--gg-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--gg-primary);
    --bs-btn-disabled-border-color: var(--gg-primary);
}

.btn-secondary {
    --bs-btn-color: var(--gg-white);
    --bs-btn-bg: var(--gg-secondary);
    --bs-btn-border-color: var(--gg-secondary);
    --bs-btn-hover-color: var(--gg-white);
    --bs-btn-hover-bg: var(--gg-secondary-dark);
    --bs-btn-hover-border-color: var(--gg-secondary-dark);
    --bs-btn-focus-shadow-rgb: var(--gg-secondary-rgb);
    --bs-btn-active-color: var(--gg-white);
    --bs-btn-active-bg: var(--gg-secondary-dark);
    --bs-btn-active-border-color: var(--gg-secondary-dark);
    --bs-btn-disabled-color: white;
    --bs-btn-disabled-bg: var(--gg-pale);
    --bs-btn-disabled-border-color: var(--gg-primary);
}

.btn-outline-secondary {
    --bs-btn-color: var(--gg-secondary-dark);
    --bs-btn-border-color: var(--gg-secondary-dark);
    --bs-btn-hover-color: var(--gg-white);
    --bs-btn-hover-bg: var(--gg-secondary-dark);
    --bs-btn-hover-border-color: var(--gg-secondary-dark);
    --bs-btn-focus-shadow-rgb: var(--gg-secondary-rgb);
    --bs-btn-active-color: var(--gg-white);
    --bs-btn-active-bg: var(--gg-secondary-dark);
    --bs-btn-active-border-color: var(--gg-secondary-dark);
    --bs-btn-disabled-bg: var(--gg-pale);
    --bs-btn-disabled-border-color: var(--gg-primary);
}

/* Form controls */
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--gg-secondary-rgb), 0.25);
}


/* Navbar and drawer specifics */
:root {
    --gg-nav-drawer-width: 300px;
    --gg-nav-drawer-padding: 15px;
}

.nav-drawer {
    display: flex;
    flex-direction: column;

    background-color: var(--gg-primary);
    color: var(--gg-white);
    padding: var(--gg-nav-drawer-padding) 0;
}

@media (min-width: 768px) {
    body {
        padding-left: var(--gg-nav-drawer-width);
    }

    .nav-drawer {
        position: fixed;
        left: 0;
        top: 0;
        width: var(--gg-nav-drawer-width);
        height: 100vh;
        overflow-y: auto;
    }

    #navbarLogo {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    #navbarLogo {
        max-width: 200px;
        width:80%;
    }
}

.nav-drawer a {
    color: var(--gg-white);
    font-weight: 600;
    text-decoration: none;
}

.nav-drawer h5 {
    font-family: var(--gg-body-font);
    font-weight: 600;
    margin: 0 var(--gg-nav-drawer-padding);
}

.nav-drawer .main-list {
    flex-grow: 1;
    margin-top: 40px;
}

.nav-drawer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-drawer li a {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--gg-nav-drawer-padding);
}

.nav-drawer li a:hover {
    background-color: var(--gg-primary-light);
}

.nav-drawer .link-icon {
    margin-right: 1rem;
}

.nav-drawer .btn-primary,
.nav-drawer .btn-secondary {
    --bs-btn-hover-border-color: var(--gg-pale);
}


/* Dropdown on hover */
.nav-item:hover #garden-dropdown {
    display: block;
}

.nav-item:hover #user-dropdown {
    display: block;
    right: 0;
}


.main-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 720px;
    padding: 16px;
    margin: 32px auto;
}

.main-container h1:first-child {
    margin-top: 0;
}

.profile-picture-large {
    border-radius: 999px;
    box-shadow: #333 0 0 8px -3px;
}

.public-profile-picture {
    border-radius: 999px;
    border: 10px white solid;
}

.public-profile-picture-padding {
    margin-top: 100px;
}

.public-profile-picture-plus-button-padding {
    margin-top: 110px;
    padding-right: 20px;
    z-index: 999;
}

@media (max-width: 752px) {
    .main-container {
        margin: 0;
        max-width: none;
    }
}

.scrolling-table {
    max-height: 560px;
    overflow-y: auto;
    width:700px;
}

.error-field {
    border: 1px solid red;
}

.image-container {
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add-image-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 1px;
    font-size: 15pt;
    text-decoration: none;
    z-index: 1;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    border: 1px solid black;
    border-radius: 50%;
}

.add-image-button:hover {
    background-color: rgba(128, 128, 128, 0.7);
    border-color: black;
}

.required-field::after {
    content: " *";
    color: black;
    font-family: bold, serif;
}


.col-6 {
    flex: 0 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-img-top-fixed {
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.card-hover {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card-hover:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.page-link, .page-link:hover {
    color: var(--gg-black);
}

.plant-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.img-row {
    width: 100%;
    height: 100%;
}

.input-container {
    display: flex;
    position: relative;
}

.input-container input {
    flex: 1;
    outline: none;

    background-image: none !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    padding-right: 31px;
    font-size: 16px;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    border-top: none;
    background-color: #fff;

    z-index: 2000;
    top: calc(100% + 2px);
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: rgba(0, 0, 0, 0.1);
}

.autocomplete-items .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: rgba(0, 0, 0, 0.1);
}

.clear-button,
.accept-button {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;

    position: absolute;
    right: 5px;
    top: 0;

    height: 100%;
    display: none;
    align-items: center;
}

.accept-button {
    right: 35px;
}

.clear-button.visible,
.accept-button.visible {
    display: flex;
}

.clear-button:hover,
.accept-button:hover {
    color: rgba(0, 0, 0, 0.6);
}


/* Description box */
.flex-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.errorMessage {
    width: 500px;
    color: red;
}

.numberOfCharactersText {
    width: 100px;
    text-align: right;
}

.hidden-input {
    position: absolute;
    left: -9999px;
}

.pagination .page-item.active .page-link {
    background-color: var(--gg-primary-light);
    border-color: var(--gg-primary-light);
}

/* Custom badge styling (used for tags) */
.badge-md {
    font-size: 1em;
}

.badge .btn-close {
    padding: 0;
    vertical-align: middle;

    filter: invert();

    --bs-btn-close-opacity: 0.75;
    --bs-btn-close-hover-opacity: 1.0;
}

.harvest-badge {
    background-color: sandybrown;
    color: white;
}

.growing-badge {
    background-color: var(--gg-primary-light);
    color: white;
}

.not-planted-badge {
    background-color: saddlebrown;
    color: white;
}

.friend-pending-badge {
    background-color: darkgoldenrod;
    font-size: 14px;
}

.friend-declined-badge {
    background-color: #888888;
    font-size: 14px;
}

#friendTabs .nav-link {
    color: var(--gg-primary);
}

#friendTabs .nav-link.active {
    background-color: var(--gg-secondary-dark);
    color: var(--gg-white);
}

.notification-badge {
    background-color: var(--gg-primary);
}

.nav-tabs .nav-item .nav-link {
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    margin-right: 5px;
}


/* Toast container */
.toast-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    min-width: 250px;
}

/* Toast styles */
.toast {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    font-family: var(--gg-body-font);
}

.toast .btn-close {
    color: var(--gg-white) !important; /* Ensure the color is applied */
    opacity: 0.75;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1;
}

.toast .btn-close:hover {
    opacity: 1;
}

/* Toast header */
.toast-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.75rem;
    background-color: var(--gg-primary);
    color: var(--gg-white);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom: 1px solid var(--gg-secondary-dark);
}

/* Toast body */
.toast-body {
    padding: 0.75rem;
    background-color: var(--gg-secondary-light);
    color: var(--gg-black);
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    font-family: var(--gg-body-font);
}

/* Plant name on plant cards */
.overflow-hidden {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.fixed-height {
    height: 200px;
    object-fit: cover;
}

/*Timeline styling*/
.timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline-with-icons .timeline-item {
    position: relative;
}

.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    background-color: var(--gg-side-panel);
    color: #E2E9CE60;
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-hover {
    color: black;
    text-decoration: none;
    display: block;
}

.link-hover:hover {
    text-decoration: underline;
}

/* Plant search results */
#plantCardsContainer #plantCard {
    cursor: pointer;
}

#plantCardsContainer #plantCard:hover #plantCardLabel {
    text-decoration: underline;
}

#plantCardImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#plantModalImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Plant search results */
#plantCardsContainer #plantCard {
    cursor: pointer;
}

#plantCardsContainer #plantCard:hover #plantCardLabel {
    text-decoration: underline;
}

#plantCardImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#plantModalImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.public-profile-plant-card {
    width: 200px;
    height: 250px;
}
.public-profile-garden-card {
    height: 180px;
}

.bg-primary-temp {
    /*fix this later*/
    background-color: #E8CB67;
}

.bg-primary-grey {
    background-color: #e7d6a8
}

@keyframes wiggle {
    0% { transform: rotate(3deg); }
    10% { transform: rotate(-3deg); }
    20% { transform: rotate(3deg); }
    30% { transform: rotate(-3deg); }
    40% { transform: rotate(3deg); }
    50% { transform: rotate(-3deg); }
    60% { transform: rotate(3deg); }
    70% { transform: rotate(-3deg); }
    80% { transform: rotate(3deg); }
    90% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
}

.card-wiggle {
    animation: none;
}

.card-wiggle:hover {
    animation: wiggle 2s infinite;
}

.hover-plant {
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.hover-plant:hover {
    transform: translateY(-3px) scale(1.005);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.btn.disabled {
    background-color: #888888;
    border-color: #888888;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

#recordUpdateButtonTooltip {
    background-color: #E2E9CE;
}
.tag {
    display: inline-block;
    background-color: #e0e0e0;
    color: #333;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
}

.friend-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.friend-info img {
    margin-right: 10px;
}

.message-button {
    margin-top: 5px;
    margin-left: 20px;
}

.friend-container {
    display: flex;
    align-items: center;
}

.friend-container.friend-name {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .friend-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .message-button {
        margin-left: 0;
        margin-top: 10px;
    }

    .friend-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .friend-container .friend-name {
        margin-left: 0;
        margin-top: 5px;
    }
}

/*favourite plant selection*/

#plantSelectorModal {
    overflow: auto;
}
#plantSelectorModalContent {
    max-height: 80vh;
    overflow-y: auto;
}

.select-items img {
    width: 65px;
    height: 65px;
}

.select-items div {
    padding: 10px;
    cursor: pointer;
}

.select-items div:hover {
    background-color: #acacac;
}

/* Flip card */

.flip-card {
    width: 90vw;
    max-width: 480px;
    height: 850px;
    perspective: 2000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 30px;
}

.flip-card-flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    display: flex;
    flex-direction: column;
    background-color: #353535;
    border-radius: calc(var(--bs-card-border-radius) - 1px);
    justify-content: space-between;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.hoverable:hover {
    cursor: pointer;
}

.plant-option.highlighted {
    background-color: #e0f7fa; /* Highlight color */
    border-color: #00796b; /* Highlight border color */
}

.progress {
    width: 87%;
    height: 25px;
    background: #e7d6a8;
    border-radius: 15px;
    margin-bottom: 10px;
    overflow: visible;
}

.progress .progress-bar{
    border-radius: 15px;
    position: relative;
    height: 100%;
    overflow: visible;
}

.progress .progress-icon,
.progress .progress-value{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -4px;
}

.flip-card.swipe-right {
    animation: flip-card-swipe-right 1s ease-in-out;
    transform-origin: center 200%;
}

.flip-card.swipe-left {
    animation: flip-card-swipe-left 1s ease-in-out;
    transform-origin: center 200%;
}

@keyframes flip-card-swipe-right {
    0% {
        transform: none;
        opacity: 1;
    }
    49% {
        transform: rotate(30deg);
        opacity: 0;
    }
    50% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes flip-card-swipe-left {
    0% {
        transform: none;
        opacity: 1;
    }
    49% {
        transform: rotate(-30deg);
        opacity: 0;
    }
    50% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}
