<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Upload image</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Upload Image</h2>
                <form method="post" enctype="multipart/form-data" th:action="@{/uploadImage}">
                    <input type="hidden" name="plant_Id" th:value="${plantId}"/>
                    <input type="hidden" name="garden_Id" th:value="${gardenId}">
                    <div class="form-group">
                        <input type="file" name="image" accept=".png, .jpg, .jpeg, .svg" class="form-control-file">
                    </div>
                    <div class="alert alert-danger" th:if="${fileTypeError}">
                        <div th:text="${fileTypeError}" style="color: red"></div>
                    </div>

                    <div class="alert alert-danger" th:if="${fileSizeError}">
                        <div th:text="${fileSizeError}" style="color: red"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">Upload image</button>
                    <button type="button" th:onclick="'window.location.href = \'' + @{/gardens/{gardenId}/plants/{plantId}/edit(gardenId=${gardenId}, plantId=${plantId})} + '\''">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>