<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Upload image</title>
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<div class="navigationBar">
    <a class="home" th:href="@{/}">Gardeners Grove</a>
    <div class="buttonContainer">
        <button><a th:href="@{/gardens}">My Gardens</a></button>
        <button><a th:href="@{/gardens/create}">Create New Garden</a></button>
    </div>
</div>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Upload Image</h2>
                <p th:text="${message}" th:if="${message != null}" class="alert alert-primary"></p>
                <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="image" accept=".png, .jpg, .jpeg, .svg" class="form-control-file">
                    </div>
                    <div th:if="${fileTypeError}" th:text="${fileTypeError}" style="color: red;"></div>
                    <div th:if="${fileSizeError}" th:text="${fileSizeError}" style="color: red"></div>
                    <button type="submit" class="btn btn-primary">Upload image</button>
                </form>
                <span th:if="${msg != null}" th:text="${msg}"></span>
            </div>
        </div>
    </div>
</section>
</body>