<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Access Denied</title>
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
</head>
<body>
<main class="main-container">
    <div class="card p-5">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <h1>Access Denied</h1>
        <p>You do not have permission to access this page.</p>
        <a th:href="@{/}" class="btn btn-primary">Go to Home</a>
        <th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
        </div>
</main>
</body>
</html>
