<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
        <title>Gardener's Grove</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    </head>
    <body>
        <h2>Welcome to Gardener's Grove</h2>
        <a th:href="@{gardenform}">Create New Garden</a>
        <br/>
        <a th:href="@{gardenform/gardens}">View Gardens</a>
    </body>
</html>