<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <title>Gardener's Grove</title>

        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>
    </head>
    <body>
        <nav th:replace="~{fragments/navbar :: navbar}"></nav>
        <main class="text-center align-items-center main-container">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <img th:src="@{/img/gg-logo.svg}" alt="Gardeners Grove" />
            <br />
            <br />
            <br />
            <p>Garden management reimagined</p>

            <form action="@{/}" method="POST">
                <input type="hidden" name="action" value="accept"/>
                <button type="submit" class="btn p-0" id="heartButton">
                    <img th:src="@{/icons/heart.svg}" alt="Accept" class="heart-icon" id="heartIcon" />
                    <img th:src="@{/icons/heart-filled.svg}" alt="Accept" class="heart-icon heart-icon-filled" id="heartIconFilled" />
                </button>
            </form>

            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="acceptToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Gardeners Grove</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body" id="toastBody">
                        Your action was successful!
                    </div>
                </div>
            </div>

        </main>
        <th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
        <script th:src="@{/js/connection.js}"></script>
    </body>
</html>
