<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div th:fragment="navbar">
  <div th:class="navigationBar">
    <a th:class="home" th:href="@{/}">Gardeners Grove</a>
    <div th:class="buttonContainer">
      <button><a th:href="@{/gardens}">My Gardens</a></button>
      <button><a th:href="@{/gardens/create}">Create New Garden</a></button>
    </div>
  </div>
</div>

<div th:fragment="navbarOnCreateGarden">
  <div th:class="navigationBar">
    <a th:class="home" th:href="@{/}">Gardeners Grove</a>
    <div th:class="buttonContainer">
      <button><a th:href="@{/gardens}">My Gardens</a></button>
      <button><a th:class = "onPage" th:href="@{/gardens/create}">Create New Garden</a></button>
    </div>
  </div>
</div>

<div th:fragment="navbarOnMyGarden">
  <div th:class="navigationBar">
    <a th:class="home" th:href="@{/}">Gardeners Grove</a>
    <div th:class="buttonContainer">
      <button><a th:class = "onPage" th:href="@{/gardens}">My Gardens</a></button>
      <button><a th:href="@{/gardens/create}">Create New Garden</a></button>
    </div>
  </div>
</div>
</body>
</html>