<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Pollinat*r</title>

    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <th:block th:insert="~{fragments/general.html :: headerfiles}"></th:block>

    <meta name="_userList" th:content="${userList}" />
</head>
<style>
    /* Button hover: slightly grow */
    button:hover {
        transform: scale(1.05);
        transition: transform 0.2s ease-in-out;
    }

    /* Icon click animation: pop effect */
    button:active img {
        transform: scale(1.2);
        transition: transform 0.1s ease-in-out;
    }

    button img {
        transition: transform 0.2s ease-in-out;
    }

    .upper-control {
        background: none;
        border-color: transparent;
    }

    @media screen and (max-height: 1000px) {
        .flip-card {
            height: 85vh; /* Set your fixed height here */
        }

    }
</style>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<main class="d-flex flex-column align-items-center justify-content-center" style="margin: 10px">
    <h1 class="mb-3 mt-md-3 text-center">Suggested Connections</h1>
    <div id="card" class="col-sm-10 flip-card flex-grow-1 flex-column">
        <div class="flip-card-inner border-0 w-100 card" th:if="${name != null}">
            <div class="flip-card-front d-flex justify-content-between flex-column px-3 py-2 shadow" style="border-radius: 30px; min-height: 100%;">
                <div class="d-flex justify-content-between pb-1">
                    <button class="upper-control" data-bs-toggle="tooltip" title="Flip card" data-gg-flip-card-toggle>
                        <img
                                th:src="@{/icons/flip-card.svg}"
                                alt="Flip card"
                                style="height: 35px; width:35px"
                        />
                    </button>
                </div>
                <div style="position: relative;">
                    <img
                            class="suggest-user-picture card-img"
                            th:src="@{(${profilePicture} != null) ? '/users/' + ${userId} + '/profile-picture' : '/img/default-profile.svg'}"
                            id="cardImage"
                            alt="profile picture"
                            style="object-fit: cover; border-radius: 15px;"
                    />
                </div>
                <div class="d-flex flex-column pt-2">
                    <span th:if="${name.length() >= 12}"><span class="d-sm-none d-flex mt-5"></span></span>
                    <h2 class="mb-1 text-white" id="cardName">[[${name}]]</h2>

                </div>
                <div class="overflow-y-auto" style="max-height: 150px;">
                    <p class="text-white" id="cardDescription">[[${description}]]</p>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="me-5">
                        <button type="submit" class="rounded-circle btn-lg p-3 shadow" id="declineButton"
                                style="width: 90px; height: 90px; background-color: #FFF; border: 3px #FFF;"
                                data-bs-toggle="tooltip" title="Decline Connection">
                            <img th:src="@{/icons/broken-heart.svg}" width="50" height="50" alt="Decline"
                                 class="decline-icon" id="declineIcon"/>
                        </button>
                    </div>
                    <div class="ms-5">
                        <button type="submit" class="rounded-circle btn-lg p-3 shadow" id="heartButton"
                                style="width: 90px; height: 90px; background-color: #DC3545; border: none;"
                                data-bs-toggle="tooltip" title="Request Connection">
                            <img th:src="@{/icons/heart.svg}" width="50" height="50" alt="Accept" class="heart-icon"
                                 id="heartIcon"/>
                        </button>
                    </div>
                </div>
            </div>
            <div class="flip-card-back p-3" style="border-radius: 30px">
                <div class="d-flex justify-content-between pb-2">
                    <button class="upper-control" data-bs-toggle="tooltip" title="Flip card" data-gg-flip-card-toggle>
                        <img
                                th:src="@{/icons/flip-card.svg}"
                                alt="Flip card"
                                style="height: 35px; width:35px"
                        />
                    </button>
                </div>
                <div class="d-flex flex-column flex-grow-1 overflow-y-auto">
                    <!--compatibility score-->
                    <h5 class="m-2 mb-1 about-me text-white">Your compatibility score</h5>
                    <div class="container" style="padding-left: 50px;padding-top: 10px;padding-bottom: 30px;">
                        <div class="progress">
                            <div class="progress-bar" id="progress-bar">
                                <div class="progress-icon" style="top: -12px">
                                    <img th:src="@{/icons/compatibility-icon.svg}" width="50" height="45" alt=" " class="compatibility-icon"
                                         id="compatibility-icon"/>
                                </div>
                                <div class="progress-value" style="overflow: visible; right: -18px; top: 4px">
                                    <h6 class="mb-1 text" style="color: #353535">
                                        <span id="cardCompatibility" style="font-weight: bolder">&hellip;</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h5 class="m-2 mb-1 about-me text-white">My Favourite Garden</h5>
                    <div id="favouriteGarden"></div>
                    <div class="flex-grow-1"></div>
                    <h5 class="m-2 mb-1 about-me text-white">My Favourite Plants</h5>
                    <div id="favouritePlants"></div>
                    <div class="flex-grow-1"></div>
                </div>


            </div>
        </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="acceptToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Pollinat*r</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="toastBody">
                You have a new connection, check the friends tab for more info!
            </div>
        </div>
    </div>
</main>
<script>
    document.querySelectorAll('.flip-card').forEach((card) => {
        const toggleButtons = card.querySelectorAll('[data-gg-flip-card-toggle]');
        toggleButtons.forEach((button) => {
            button.addEventListener('click', () => {
                card.classList.toggle('flip-card-flipped');
            });
        });
    });
</script>
<th:block th:insert="~{fragments/general.html :: bs-scripts}"></th:block>
<script th:src="@{/js/connection.js}"></script>
</body>
</html>
