<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Create New Garden</title>
</head>
<body>
<div>
    <div>
        <form th:action="@{/gardens/create}" method="post" th:object="${gardenForm}">
            <!-- Garden Name Field -->
            <label for="name"> Garden Name: </label>
            <input type="text" class="form-control" id="name" placeholder="Garden Name"
                   th:field="*{name}" autofocus>
            <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
            <br/>
            <!-- Garden Location Field -->
            <label for="location"> Garden Location: </label>
            <input type="text" class="form-control" id="location" placeholder="Location"
                   th:field="*{location}" autofocus>
            <div class="error" th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Location Error</div>
            <br/>
            <!-- Garden Size Field -->
            <label for="size"> Garden Size (m^2): </label>
            <input type="text" class="form-control" id="size" placeholder="Size of Garden"
                   th:field="*{size}" autofocus>
            <div class="error" th:if="${#fields.hasErrors('size')}" th:errors="*{size}">Size Error</div>
            <br/>
            <button type="submit">Submit!</button>
            <button type="button" onclick="window.location.href = '/gardens'">Cancel</button>
        </form>
    </div>

    <div>
        <br />
        <button><a th:href="@{/gardens}">Back to Gardens</a></button>
        <button><a th:href="@{/}">Return home</a></button>
    </div>
</div>
</body>
</html>
