<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8" />
    <th:block th:insert="~{fragments/general.html :: headerfiles}">
    </th:block>
    <title>Authenticate Email | Gardener's Grove</title>

    <style>
        .groupElements {
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<main class="main-container">
    <h1>Authenticate Email</h1>
    <h6>We emailed you an authentication code!</h6>
    <br>
    <span th:if="${tokenExpired == true}">
        Signup code invalid... please make a new account
        <br>
        <br>
    </span>
    <span th:if="${tokenIncorrect == true}">
        Signup code incorrect... please try again
        <br>
        <br>
    </span>
    <form id = "authenticationForm" th:action="@{/users/user/{userId}/authenticate-email (userId=${userId})}" method="post">
        <div class = "groupElements">
            <input class="hidden-input" pattern="\d*" type="text" value=" " id="authenticationToken"
                   th:name="authenticationToken"/>
        </div>
    </form>
    <label for="token"> Authentication Code: </label>
    <div id ="token" class="inputs d-flex flex-row justify-content-center mt-2" style="height: 70px">
        <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" autofocus/>
        <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" />
        <input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" />
        <input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" />
        <input class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1" />
        <input class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1" />
    </div>
</main>
<script th:src="@{/js/authenticationToken.js}"></script>

</body>
</html>