<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8" />
    <th:block th:insert="~{fragments/general.html :: headerfiles}">
    </th:block>
    <title>Authenticate Email | Gardener's Grove</title>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<main class="main-container">
    <h1>Authenticate Email</h1>
    <h6>We emailed you an authentication code!</h6>
    <br>
    <form id = "authenticationForm" th:action="@{/users/user/{userId}/authenticateEmail (userId=${userId})}" method="post">
        <label for="authenticationToken"> Authentication Code: </label>
        <input type="text" pattern="\d*" maxlength="6" class="form-control" id="authenticationToken" placeholder="type your six digit code here..."
               th:name="authenticationToken" data-cy="size" autofocus>
    </form>
</main>
<script>
    const authenticationBox = document.getElementById("authenticationToken");
    const form = document.getElementById("authenticationForm");

    authenticationBox.addEventListener("input", function () {
        const value = authenticationBox.value;
        if (value.length === 6) {
            form.submit();
        }
    })
</script>
</body>
</html>